Lectura de xml

In [2]:
import pandas as pd
import xml.etree.ElementTree as etree



#tree = etree.parse("tg-fal17.xml")
tree = etree.parse("agh-ggis-spr17.xml")
root = tree.getroot()

columns_problem = ["Name", "NrDays", "SlotsPerDay", "NrWeeks"]
columns_optimization = ["Time", "Room", "Distribution", "Student"]
columns_rooms = ["RoomId", "Capacity", "PreviousRoomIdList", "TravelTimeValueList", "UnavailableDaysList", "UnavailableStartList", "UnavailableLengthList", "UnavailableWeeksList"]
columns_courses = ["CourseId", "ConfigIdList"]
columns_configs = ["ConfigId", "SubpartIdList"]
columns_subparts = ["SubpartId", "ClassIdList"]
columns_classes = ["ClassId", "ClassLimit", "ClassParent"]
columns_distributions = ["DistributionId", "DistributionType", "DistributionRequired", "DistributionPenalty", "ClassesList"]
columns_students = ["StudentId", "CoursesList"]
columns_relation_class_room = ["ClassId", "RoomId", "RoomPenalty"]
columns_relation_class_time = ["ClassId", "TimeDays", "TimeStart", "TimeLength", "TimeWeeks", "TimePenalty"]

df_problem = pd.DataFrame(columns = columns_problem)
df_optimization = pd.DataFrame(columns = columns_optimization)
df_rooms = pd.DataFrame(columns = columns_rooms)
df_courses = pd.DataFrame(columns = columns_courses)
df_configs = pd.DataFrame(columns = columns_configs)
df_subparts = pd.DataFrame(columns = columns_subparts)
df_classes = pd.DataFrame(columns = columns_classes)
df_distributions = pd.DataFrame(columns = columns_distributions)
df_students = pd.DataFrame(columns = columns_students)
df_relation_class_room = pd.DataFrame(columns = columns_relation_class_room)
df_relation_class_time = pd.DataFrame(columns = columns_relation_class_time)




df_problem = df_problem.append({"Name": root.attrib.get("name"), "NrDays": root.attrib.get("nrDays"), "SlotsPerDay": root.attrib.get("slotsPerDay"), "NrWeeks": root.attrib.get("nrWeeks")}, ignore_index = True)

for node in root:
    if node.tag == "optimization":
        df_optimization = df_optimization.append({"Time": node.attrib.get("time"), "Room": node.attrib.get("room"), "Distribution": node.attrib.get("distribution"), "Student": node.attrib.get("student")}, ignore_index = True)
    
    elif node.tag == "rooms":
        for room in node:
            roomid = room.attrib.get("id")
            cap = room.attrib.get("capacity")
            prevroomlist = []
            valuelist = []
            dayslist = []
            startlist = []
            lengthlist = []
            weekslist = []
            if len(list(child.tag for child in room.iter() if child is not room)) > 0:
                for child in room:
                    if child.tag == "travel":
                        prevroomid = child.attrib.get("room")
                        value = child.attrib.get("value")
                        prevroomlist.append(prevroomid)
                        valuelist.append(value)
                    elif child.tag == "unavailable":
                        days = child.attrib.get("days")
                        start = child.attrib.get("start")
                        length = child.attrib.get("length")
                        weeks = child.attrib.get("weeks")
                        dayslist.append(days)
                        startlist.append(start)
                        lengthlist.append(length)
                        weekslist.append(weeks)
            if len(prevroomlist) == 0:
                prevroomlist = None
            if len(valuelist) == 0:
                valuelist = None
            if len(dayslist) == 0:
                dayslist = None
            if len(startlist) == 0:
                startlist = None
            if len(lengthlist) == 0:
                lengthlist = None
            if len(weekslist) == 0:
                weekslist = None
            df_rooms = df_rooms.append(pd.Series([roomid, cap, prevroomlist, valuelist, dayslist, startlist, lengthlist, weekslist], index = columns_rooms), ignore_index = True)
            
    elif node.tag == "courses":
        for course in node:
            #print(course.tag)
            courseid = course.attrib.get("id")
            configlist = []
            for config in course:
                #print(config.tag)
                configid = config.attrib.get("id")
                configlist.append(configid)
                subpartlist = []
                for subpart in config:
                    #print(subpart.tag)
                    subpartid = subpart.attrib.get("id")
                    subpartlist.append(subpartid)
                    claselist = []
                    for clase in subpart:
                        #print(clase.tag)
                        claseid = clase.attrib.get("id")
                        claselist.append(claseid)
                        claselimit = clase.attrib.get("limit")
                        claseparent = clase.attrib.get("parent") if clase.attrib.get("parent") is not None else None
                        df_classes = df_classes.append(pd.Series([claseid, claselimit, claseparent], index = columns_classes), ignore_index = True)
                        if len(list(child.tag for child in clase.iter() if child is not clase)) > 0:
                            for child in clase:
                                #print(child.tag)
                                if child.tag == "room":
                                    roomid = child.attrib.get("id")
                                    roompenalty = child.attrib.get("penalty")
                                    df_relation_class_room = df_relation_class_room.append(pd.Series([claseid, roomid, roompenalty], index = columns_relation_class_room), ignore_index = True)
                                elif child.tag == "time":
                                    timedays = child.attrib.get("days")
                                    timestart = child.attrib.get("start")
                                    timelength = child.attrib.get("length")
                                    timeweeks = child.attrib.get("weeks")
                                    timepenalty = child.attrib.get("penalty")
                                    df_relation_class_time = df_relation_class_time.append(pd.Series([claseid, timedays, timestart, timelength, timeweeks, timepenalty], index = columns_relation_class_time), ignore_index = True)
                    df_subparts = df_subparts.append(pd.Series([subpartid, claselist], index = columns_subparts), ignore_index = True)
                df_configs = df_configs.append(pd.Series([configid, subpartlist], index = columns_configs), ignore_index = True)
            df_courses = df_courses.append(pd.Series([courseid, configlist], index = columns_courses), ignore_index = True)
                                    
    elif node.tag == "distributions":
        contador = 1
        for distribution in node:
            #print(distribution.tag)
            distribid = contador
            distribtype = distribution.attrib.get("type")
            distribrequired = distribution.attrib.get("required") if distribution.attrib.get("required") is not None else None
            distribpenalty = distribution.attrib.get("penalty") if distribution.attrib.get("penalty") is not None else None
            listaclases = []
            for clase in distribution:
                #print(clase.tag)
                listaclases.append(clase.attrib.get("id"))
            df_distributions = df_distributions.append(pd.Series([distribid, distribtype, distribrequired, distribpenalty, listaclases], index = columns_distributions), ignore_index = True)
            contador += 1
             
    elif node.tag == "students":
        for student in node:
            studentid = student.attrib.get("id")
            listacourses = []
            for course in student:
                listacourses.append(course.attrib.get("id"))
            df_students = df_students.append(pd.Series([studentid, listacourses], index = columns_students), ignore_index = True)
            
            


print("################################################################################################################")
print("DataFrame Problem")
display(df_problem)
print("################################################################################################################")
print("DataFrame Optimization")
display(df_optimization)
print("################################################################################################################")
print("DataFrame Rooms")
display(df_rooms)
print("################################################################################################################")
print("DataFrame Courses")
display(df_courses)
print("################################################################################################################")
print("DataFrame Configs")
display(df_configs)
print("################################################################################################################")
print("DataFrame Subparts")
display(df_subparts)
print("################################################################################################################")
print("DataFrame Classes")
display(df_classes)
print("################################################################################################################")
print("DataFrame Distributions")
display(df_distributions)
print("################################################################################################################")
print("DataFrame Students")
display(df_students)
print("################################################################################################################")
print("DataFrame RelationClassRoom")
display(df_relation_class_room)
print("################################################################################################################")
print("DataFrame RelationClassTime")
display(df_relation_class_time)
print("################################################################################################################")

################################################################################################################
DataFrame Problem

             Name NrDays SlotsPerDay NrWeeks
0  agh-ggis-spr17      7         288      16

################################################################################################################
DataFrame Optimization

  Time Room Distribution Student
0    4    1           15       5

################################################################################################################
DataFrame Rooms

,RoomId,Capacity,PreviousRoomIdList,TravelTimeValueList,UnavailableDaysList,UnavailableStartList,UnavailableLengthList,UnavailableWeeksList
0,1,180,"[3, 4, 5, 7, 8, 10, 11, 12, 13, 14, 15, 16, 28...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 0100000, 0100000, 0010000, 0001000, ...","[0, 0, 246, 0, 0, 246, 0, 246, 246]","[288, 204, 42, 288, 204, 42, 288, 42, 42]","[1111111111111111, 1111111111111111, 111111111..."
1,2,30,"[3, 4, 5, 7, 8, 10, 11, 13, 14, 15, 16, 28, 32...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 138, 0]","[288, 288, 288, 288, 288, 114, 150, 288]","[1111111111111111, 1111111111111111, 111111111..."
2,3,120,"[4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 210, 0, 198]","[288, 288, 288, 288, 288, 96, 78, 96, 90]","[1111111111111111, 1111111111111111, 111111111..."
3,4,240,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0000100, 0000010, 0000010, 0000001, 0000001, ...","[262, 84, 222, 84, 216, 225, 225, 189, 234, 96...","[2, 102, 42, 12, 48, 27, 18, 18, 18, 168, 48, ...","[1111111111111111, 1111111111111111, 111111111..."
4,5,140,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0000100, 0000010, 0000010, 0000001, 0000001, ...","[262, 90, 216, 90, 156, 96, 165, 120, 144, 174...","[2, 96, 48, 36, 108, 27, 18, 21, 21, 88, 72, 1...","[1111111111111111, 1111111111111111, 111111111..."
5,6,15,"[7, 8, 10, 11, 12, 13, 14, 15, 16, 28, 32, 35,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 0, 252, 252]","[36, 36, 36, 36, 288, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
6,7,15,"[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0010000, 0001000, ...","[0, 0, 0, 162, 0, 0, 0, 0]","[288, 288, 96, 126, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
7,8,15,"[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 1000000, 1000000, 0100000, 0010000, ...","[0, 138, 180, 0, 0, 0, 0, 0, 0]","[96, 18, 108, 288, 288, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
8,9,30,"[10, 11, 12, 13, 14, 15, 16, 28, 32, 35, 44]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 1000000, 0100000, 0010000, 0001000, ...","[0, 156, 0, 0, 0, 138, 0, 180, 0, 0]","[96, 132, 288, 288, 114, 150, 132, 108, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
9,10,90,"[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 1000000, 0100000, 0100000, 0010000, ...","[0, 120, 0, 144, 0, 150, 0, 0]","[96, 168, 114, 144, 132, 138, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
10,11,90,"[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0010000, 0001000, ...","[0, 0, 0, 234, 0, 198, 0, 0, 156, 0, 138]","[288, 288, 204, 54, 180, 90, 288, 96, 132, 96,...","[1111111111111111, 1111111111111111, 111111111..."
11,12,45,"[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...","[2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0001000, ...","[0, 0, 0, 0, 222, 0, 126, 0, 0]","[288, 288, 288, 186, 66, 96, 162, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
12,13,28,"[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
13,14,70,"[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
14,15,35,"[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100]","[0, 0, 0, 0, 0]","[288, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
15,16,35,"[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100]","[0, 0, 0, 0, 0]","[288, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
16,17,29,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 0]","[288, 288, 288, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
17,18,30,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 1000000, 0100000, 0100000, 0010000, ...","[0, 204, 0, 204, 0, 204, 0, 204, 0, 204, 0, 25...","[84, 84, 84, 84, 84, 84, 84, 84, 84, 84, 84, 3...","[1111111111111111, 1111111111111111, 111111111..."
18,19,30,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
19,20,25,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
20,21,15,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 0, 0, 0]","[36, 36, 36, 36, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
21,22,30,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
22,23,94,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 246, 240]","[36, 36, 36, 36, 36, 42, 48]","[1111111111111111, 1111111111111111, 111111111..."
23,24,96,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 246, 240]","[36, 36, 36, 36, 36, 42, 48]","[1111111111111111, 1111111111111111, 111111111..."
24,25,28,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
25,26,15,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
26,27,15,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[186, 186, 186, 186, 186, 240, 240]","[102, 102, 102, 102, 102, 48, 48]","[1111111111111111, 1111111111111111, 111111111..."
27,28,30,"[29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 4...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
28,29,180,"[32, 35, 44]","[1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 246]","[36, 36, 36, 36, 36, 36, 42]","[1111111111111111, 1111111111111111, 111111111..."
29,30,30,"[32, 35, 44]","[1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[246, 246, 246, 246, 246, 246, 246]","[42, 42, 42, 42, 42, 42, 42]","[1111111111111111, 1111111111111111, 111111111..."
30,31,30,"[32, 35, 44]","[1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
31,32,30,"[33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]","[1000000, 0100000, 0010000, 0010000, 0001000, ...","[252, 252, 176, 252, 252, 252, 252, 252]","[36, 36, 10, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
32,33,15,"[35, 44]","[1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
33,34,30,"[35, 44]","[1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
34,35,35,"[36, 37, 38, 39, 40, 41, 42, 43, 44]","[1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0001000, ...","[0, 0, 0, 0, 192, 216, 0, 0, 198, 0, 198]","[288, 288, 288, 174, 3, 72, 288, 96, 90, 96, 90]","[1111111111111111, 1111111111111111, 111111111..."
35,36,30,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
36,37,30,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
37,38,30,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
38,39,15,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
39,40,42,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[246, 246, 246, 246, 246, 246, 240]","[42, 42, 42, 42, 42, 42, 48]","[1111111111111111, 1111111111111111, 111111111..."
40,41,42,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 246, 240]","[36, 36, 36, 36, 36, 42, 48]","[1111111111111111, 1111111111111111, 111111111..."
41,42,90,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 216, 0, 216]","[288, 288, 288, 288, 288, 186, 72, 96, 72]","[1111111111111111, 1111111111111111, 111111111..."
42,43,15,[44],[1],None,None,None,None
43,44,42,None,None,"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 174, 0]","[288, 288, 288, 288, 288, 96, 114, 288]","[1111111111111111, 1111111111111111, 111111111..."

################################################################################################################
DataFrame Courses

    CourseId ConfigIdList
0          1          [1]
1          2          [2]
2          3          [3]
3          4          [4]
4          5          [5]
..       ...          ...
267      268        [268]
268      269        [269]
269      270        [270]
270      271        [271]
271      272        [272]

[272 rows x 2 columns]

################################################################################################################
DataFrame Configs

    ConfigId       SubpartIdList
0          1                 [1]
1          2  [2, 3, 4, 5, 6, 7]
2          3                 [8]
3          4             [9, 10]
4          5            [11, 12]
..       ...                 ...
267      268              [1219]
268      269              [1220]
269      270              [1221]
270      271              [1222]
271      272              [1223]

[272 rows x 2 columns]

################################################################################################################
DataFrame Subparts

     SubpartId ClassIdList
0            1         [1]
1            2         [2]
2            3         [3]
3            4         [4]
4            5         [5]
...        ...         ...
1219      1219      [1836]
1220      1220      [1837]
1221      1221      [1838]
1222      1222      [1839]
1223      1223      [1840]

[1224 rows x 2 columns]

################################################################################################################
DataFrame Classes

     ClassId ClassLimit ClassParent
0          1         15        None
1          2         15        None
2          3         15        None
3          4         15        None
4          5         15        None
...      ...        ...         ...
1847    1836         30        None
1848    1837         30        None
1849    1838         60        None
1850    1839         60        None
1851    1840         30        None

[1852 rows x 3 columns]

################################################################################################################
DataFrame Distributions

,DistributionId,DistributionType,DistributionRequired,DistributionPenalty,ClassesList
0,1,SameAttendees,true,None,"[1, 8, 378, 568, 1808, 1810, 1818, 1820]"
1,2,SameAttendees,true,None,"[9, 240, 241, 242, 378, 728, 729, 730, 731, 73..."
2,3,SameAttendees,true,None,"[10, 11, 12, 13, 14, 15, 507]"
3,4,SameAttendees,true,None,"[16, 17, 18, 185, 378, 1065, 1066, 1067, 1068,..."
4,5,SameAttendees,true,None,"[16, 19, 20, 393, 394, 401, 579, 580, 1040, 10..."
...,...,...,...,...,...
2685,2686,"MaxBreaks(0,6)",None,4,"[152, 153, 154, 155]"
2686,2687,MaxDays(2),None,4,"[484, 485, 486, 487]"
2687,2688,MaxDays(2),None,4,"[488, 489, 490, 491, 492, 493, 494, 495]"
2688,2689,MaxDays(2),None,1,"[1558, 1559, 1560, 1628, 1629, 1630, 1631, 163..."
2689,2690,"MaxBreaks(0,6)",None,4,"[1292, 1294, 1293, 1271, 1272, 1273, 1296, 127..."

################################################################################################################
DataFrame Students

     StudentId                                        CoursesList
0            1                                       [33, 35, 29]
1            2                                       [33, 35, 29]
2            3                                       [33, 35, 29]
3            4                                       [33, 35, 29]
4            5                                       [33, 35, 29]
...        ...                                                ...
2111      2112  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...
2112      2113  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...
2113      2114  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...
2114      2115  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...
2115      2116  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...

[2116 rows x 2 columns]

################################################################################################################
DataFrame RelationClassRoom

      ClassId RoomId RoomPenalty
0           1     43           0
1           2     43           0
2           3     43           0
3           4     43           0
4           5     43           0
...       ...    ...         ...
12372    1833     32           0
12373    1835     24           0
12374    1838     24           0
12375    1839     24           0
12376    1840     24           0

[12377 rows x 3 columns]

################################################################################################################
DataFrame RelationClassTime

      ClassId TimeDays TimeStart TimeLength         TimeWeeks TimePenalty
0           1  1000000        96         18  0101010010010101           0
1           1  0100000        96         18  0101010010010101           0
2           1  0010000        96         18  0101010010010101           0
3           1  0000100        96         18  0101010010101010           0
4           1  1000000       106         18  0101010010010101           0
...       ...      ...       ...        ...               ...         ...
46662    1836  0100000       176         18  0101010010010101           0
46663    1837  0100000       156         18  1010101000101010           0
46664    1838  0100000       176         18  0101010010010101           0
46665    1839  0100000       156         18  1010101000101010           0
46666    1840  0100000       176         18  1010101000101010           0

[46667 rows x 6 columns]

################################################################################################################

Lectura xml solucion

In [2]:
import pandas as pd
import xml.etree.ElementTree as etree

tree = etree.parse("solution-tg-fal17.xml")
root = tree.getroot()

columns_sol = ["ClassId", "Days", "Start", "Weeks", "Room"]

df_sol = pd.DataFrame(columns = columns_sol)

for clase in root:

SyntaxError: unexpected EOF while parsing (<ipython-input-2-2edd5ad0955c>, line 12)

Analisis de datos

In [6]:
## Duracion en slots de clases:

df_relation_class_time["TimeLength"] = df_relation_class_time["TimeLength"].astype(int)
print("Promedio:")
display(df_relation_class_time["TimeLength"].mean())
print("Min:")
display(df_relation_class_time["TimeLength"].min())
print("Max:")
display(df_relation_class_time["TimeLength"].max())
print("Tiempo de inicio")
display(df_relation_class_time.groupby("TimeStart").count())
print("Count")
display(df_relation_class_time["TimeLength"].value_counts())
print("Mediana:")
display(df_relation_class_time["TimeLength"].median())
print("Cuartiles:")
display(df_relation_class_time["TimeLength"].quantile([0, 0.25, 0.5, 0.75, 1]))
print("Var:")
display(df_relation_class_time["TimeLength"].var())
print("Std:")
display(df_relation_class_time["TimeLength"].std())

Promedio:

22.044592538624723

Min:

9

Max:

144

Slots de tiempo | Cantidad de cursos que duran esos slots
18 909
144 13
96 1
36 22
9 20
27 811
24 33
48 1
72 1
88 3
98 4
90 1
124 4
120 8
82 7
100 11
16 1
70 1
26 1
Total 1852
Tiempo de inicio

           ClassId  TimeDays  TimeLength  TimeWeeks  TimePenalty
TimeStart
102             10        10          10         10           10
105             10        10          10         10           10
106           3042      3042        3042       3042         3042
108             10        10          10         10           10
111             12        12          12         12           12
...            ...       ...         ...        ...          ...
246           1613      1613        1613       1613         1613
256              6         6           6          6            6
93              10        10          10         10           10
96            3138      3138        3138       3138         3138
99              10        10          10         10           10

[64 rows x 5 columns]

9.50, 10.00, 10.41, 11.30, 12.25, 13.00, 13.66, 14.00, 14.91, 15.83, 16.75
counts

18     26008
27     20446
9        101
24        33
36        22
144       13
100       11
120        8
82         7
98         4
124        4
88         3
16         1
48         1
72         1
70         1
26         1
90         1
96         1
Name: TimeLength, dtype: int64

Mediana:

18.0

Cuartiles:

0.00      9.0
0.25     18.0
0.50     18.0
0.75     27.0
1.00    144.0
Name: TimeLength, dtype: float64

Var:

30.098277180969482

Std:

5.486189677815513

In [2]:
## Disponibilidad de salas:

for index, row in df_rooms.iterrows():
    print(row["RoomId"], row["UnavailableDaysList"])
    #if row["UnavailableDaysList"] is None:
    #    print(row["RoomId"], row["UnavailableDaysList"])

1 ['1000000', '0100000', '0100000', '0010000', '0001000', '0001000', '0000100', '0000010', '0000001']
2 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000010', '0000001']
3 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000010', '0000001', '0000001']
4 ['0000100', '0000010', '0000010', '0000001', '0000001', '1000000', '1000000', '0100000', '0001000', '0000100', '0000100', '0000100', '0000100', '0000100', '0000010', '0000010', '0000010', '0000010', '0000001', '0000001', '0000001', '0000001', '0000001']
5 ['0000100', '0000010', '0000010', '0000001', '0000001', '0100000', '0010000', '0000100', '0000100', '0000100', '0000100', '0000010', '0000010', '0000010', '0000010', '0000001']
6 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
7 ['1000000', '0100000', '0010000', '0010000', '0001000', '0000100', '0000010', '0000001']
8 ['1000000', '1000000', '1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
9 ['1000000', '1000000', '0100000', '0010000', '0001000', '0001000', '0000100', '0000100', '0000010', '0000001']
10 ['1000000', '1000000', '0100000', '0100000', '0010000', '0010000', '0001000', '0000100']
11 ['1000000', '0100000', '0010000', '0010000', '0001000', '0001000', '0000100', '0000010', '0000010', '0000001', '0000001']
12 ['1000000', '0100000', '0010000', '0001000', '0001000', '0000100', '0000100', '0000010', '0000001']
13 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
14 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
15 ['1000000', '0100000', '0010000', '0001000', '0000100']
16 ['1000000', '0100000', '0010000', '0001000', '0000100']
17 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
18 ['1000000', '1000000', '0100000', '0100000', '0010000', '0010000', '0001000', '0001000', '0000100', '0000100', '0000010', '0000010', '0000001', '0000001']
19 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
20 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
21 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
22 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
23 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
24 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
25 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
26 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
27 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
28 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
29 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
30 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
31 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
32 ['1000000', '0100000', '0010000', '0010000', '0001000', '0000100', '0000010', '0000001']
33 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
34 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
35 ['1000000', '0100000', '0010000', '0001000', '0001000', '0001000', '0000100', '0000010', '0000010', '0000001', '0000001']
36 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
37 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
38 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
39 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
40 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
41 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
42 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000010', '0000001', '0000001']
43 None
44 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000010', '0000001']

In [243]:
## Variabilidad de clases:

#for index, row in df_relation_class_time.iterrows():
#    print(row["ClassId"], row["TimeDays"])
display(df_relation_class_time["ClassId"].value_counts())

400     520
629     160
628     160
593     160
310     128
       ...
321       1
463       1
1800      1
1804      1
1715      1
Name: ClassId, Length: 1852, dtype: int64

In [ ]:
#################### Nueva Parte versión Pau #######################
print("Slots de tiempo | Cantidad de cursos que duran esos slots")
dic={}
#list=[]
for index, row in df_relation_class_time.iterrows():
    #print(row["ClassId"], row["TimeLength"])
    if row["TimeLength"] not in dic.keys():
        dic[row["TimeLength"]] = [0,[]]
    if row["ClassId"] not in dic[row["TimeLength"]][1]:
        #print(row["TimeLength"],row["ClassId"], dic[row["TimeLength"]][1])
        dic[row["TimeLength"]][0]+=1
        dic[row["TimeLength"]][1].append(row["ClassId"])
c= 0
for i in dic:
    print(i, dic[i][0])
    c += dic[i][0]
print("Total",c)

In [153]:
#Agrupar capacidad de salas


print("Capacidad | Cantidad de Salas")
display(df_rooms.groupby("Capacity").count()["RoomId"])

dic_salas = {}
for index, row in df_rooms.iterrows():
    x = int(row["Capacity"])
    if x < 30:
        if "XS" not in dic_salas.keys():
            dic_salas["XS"] = [0,[]]
        dic_salas["XS"][1].append(row["RoomId"])
        dic_salas["XS"][0]+=1
    elif x == 30:
        if "S" not in dic_salas.keys():
            dic_salas["S"] = [0,[]]
        dic_salas["S"][1].append(row["RoomId"])
        dic_salas["S"][0]+=1
    elif x <= 90:
        if "M" not in dic_salas.keys():
            dic_salas["M"] = [0,[]]
        dic_salas["M"][1].append(row["RoomId"])
        dic_salas["M"][0]+=1
    else:
        if "L" not in dic_salas.keys():
            dic_salas["L"] = [0,[]]
        dic_salas["L"][1].append(row["RoomId"])
        dic_salas["L"][0]+=1
        
for i in sorted(dic_salas):
    print(i, dic_salas[i])

Capacidad | Cantidad de Salas

Capacity
120     1
140     1
15      9
180     2
240     1
25      1
28      2
29      1
30     13
35      3
42      3
45      1
70      1
90      3
94      1
96      1
Name: RoomId, dtype: int64

L [7, ['1', '3', '4', '5', '23', '24', '29']]
M [11, ['10', '11', '12', '14', '15', '16', '35', '40', '41', '42', '44']]
S [13, ['2', '9', '18', '19', '22', '28', '30', '31', '32', '34', '36', '37', '38']]
XS [13, ['6', '7', '8', '13', '17', '20', '21', '25', '26', '27', '33', '39', '43']]

In [4]:
#Agrupar capacidad de clases

print("Límite de las clases | Cantidad de clases con el límite")
display(df_classes.groupby("ClassLimit").count()["ClassId"])

Límite de las clases | Cantidad de clases con el límite

ClassLimit
10      29
100     12
11      12
12      46
120     18
128     59
129      3
13     100
130      8
14      10
15     223
18      18
180     20
20      66
21      64
22      93
24      70
25      41
26      75
28      56
30     360
32      20
36      79
38       4
40      19
42      54
43      18
44      18
48      39
50      16
52      45
60      76
64      60
75      18
90       3
Name: ClassId, dtype: int64

In [262]:
#Clases en horario similar -3 slots- de margen
#Tiempo inicio | Frecuencia de clases en ese horario | Id de clase
dicct = {}
df_relation_class_time["TimeStart"] = df_relation_class_time["TimeStart"].astype(int)
for index, row in df_relation_class_time.sort_values('TimeStart').iterrows():
    #print(row["ClassId"], row["TimeStart"])
    x1 = row["TimeStart"]-1
    x2 = row["TimeStart"]-2
    x3 = row["TimeStart"]-3
    if x1 in dicct.keys():
        if row["ClassId"] not in dicct[x1][1]:
            dicct[x1][1].append(row["ClassId"])
            dicct[x1][0] += 1
    elif x2 in dicct.keys():
        if row["ClassId"] not in dicct[x2][1]:
            dicct[x2][1].append(row["ClassId"])
            dicct[x2][0] += 1
    elif x3 in dicct.keys():
        if row["ClassId"] not in dicct[x3][1]:
            dicct[x3][1].append(row["ClassId"])
            dicct[x3][0] += 1
    elif row["TimeStart"] not in dicct.keys():
        dicct[row["TimeStart"]] = [0,[]]
        dicct[row["TimeStart"]][1].append(row["ClassId"])
        dicct[row["TimeStart"]][0] += 1
    elif row["TimeStart"] in dicct.keys() and row["ClassId"] not in dicct[row["TimeStart"]][1]:
        dicct[row["TimeStart"]][1].append(row["ClassId"])
        dicct[row["TimeStart"]][0] += 1

print("Tiempo inicio | Frecuencia de clases en ese horario | Lista de clase")
for i in dicct:
    print(i, dicct[i][0])

Tiempo inicio | Frecuencia de clases en ese horario | Lista de clase
93 1446
99 1
105 1349
111 2
116 1483
120 1
126 1440
132 7
136 1471
141 6
146 1437
150 9
156 1472
162 1
166 1362
171 5
176 1369
180 1
186 1327
190 2
195 1326
201 23
206 1242
210 2
216 1239
222 1
226 1203
231 1
236 1213
240 1
246 610
256 3

In [6]:
#Cantidad de clases en una subparte
c = 0
dics = {}
dicc_s = {}
for index, row in df_subparts.iterrows():
    dicc_s[row["SubpartId"]] = row["ClassIdList"]
    
for index, col in df_configs.iterrows():
    for i in col["SubpartIdList"]:
        if len(dicc_s[i]) not in dics.keys():
            dics[len(dicc_s[i])] = [1, [], [int(col["ConfigId"])]]
            for z in dicc_s[i]:
                dics[len(dicc_s[i])][1].append(z)
                dics[len(dicc_s[i])][0]+=1
        else:
            dics[len(dicc_s[i])][2].append(int(col["ConfigId"]))
            for z in dicc_s[i]:
                dics[len(dicc_s[i])][1].append(z)
                dics[len(dicc_s[i])][0]+=1


print("Cantidad de clases en una subparte | Cantidad de veces que se repite en las subpartes | Lista de clases | Config a la que pertenece ")
for i in sorted(dics):
    print(i, dics[i][0])

Cantidad de clases en una subparte | Cantidad de veces que se repite en las subpartes | Lista de clases | Config a la que pertenece
1 882
2 451
3 121
4 201
5 56
6 37
8 25
10 51
12 37

In [260]:
#Cantidad de subpartes de una configuración

c = 0
dics = {}
dicc_s = {}
for index, row in df_subparts.iterrows():
    dicc_s[row["SubpartId"]] = row["ClassIdList"]
    
for index, col in df_configs.iterrows():
        #print(col["ConfigId"],col["SubpartIdList"])
        if len(col["SubpartIdList"]) not in dics.keys():
            dics[len(col["SubpartIdList"])] = [0, [], [int(col["ConfigId"])], 1]
            for z in col["SubpartIdList"]:
                dics[len(col["SubpartIdList"])][0]+=1
                for w in dicc_s[z]: 
                    dics[len(col["SubpartIdList"])][1].append(w)
                    dics[len(col["SubpartIdList"])][3]+=1
        else:
            dics[len(col["SubpartIdList"])][2].append(int(col["ConfigId"]))
            for z in col["SubpartIdList"]:
                dics[len(col["SubpartIdList"])][0]+=1
                for w in dicc_s[z]: 
                    dics[len(col["SubpartIdList"])][1].append(w)
                    dics[len(col["SubpartIdList"])][3]+=1


print("Cantidad de subpartes en una config | Cantidad de veces que se repite | Lista de clases | Config a la que pertenece ")
c=0
for i in sorted(dics):
        print(i, dics[i][0])
        c+=dics[i][0]
#print(dics)

Cantidad de subpartes en una config | Cantidad de veces que se repite | Lista de clases | Config a la que pertenece
1 32
2 258
3 45
4 16
5 45
6 96
7 49
8 24
9 207
10 70
11 33
12 144
13 13
14 14
15 105
18 18
26 26
29 29

In [246]:
import math
#Agrupar capacidad de cursos

#print("Límite de las clases | Cantidad de clases con el límite")
#display(df_classes.groupby("ClassLimit").count()["ClassId"])

dicc_cursos = {}
#display(df_courses)
for index, row in df_courses.iterrows():
    dicc_cursos[row["CourseId"]] = row["ConfigIdList"]
#print(dicc_cursos)      
dicc_configs = {}
#display(df_configs)
for index, row in df_configs.iterrows():
    dicc_configs[row["ConfigId"]] = row["SubpartIdList"]
#print(dicc_configs)
dicc_subparts = {}
#display(df_subparts)
for index, row in df_subparts.iterrows():
    dicc_subparts[row["SubpartId"]] = row["ClassIdList"]
#print(dicc_subparts)
dicc_classes = {}
#display(df_classes)
for index, row in df_classes.iterrows():
    dicc_classes[row["ClassId"]] = row["ClassLimit"]
#print(dicc_classes)

dicc_lim = {}
dicc_curso_clase = {}
for p,i in dicc_cursos.items():
    for j in i:
        if j in dicc_configs.keys():
            #print(dicc_configs[j])
            for k in dicc_configs[j]:
                if k in dicc_subparts.keys():
                    #print(dicc_subparts[k])
                    for l in dicc_subparts[k]:
                        #print(l)
                        if l not in dicc_curso_clase:
                            dicc_curso_clase[l] = []
                        dicc_curso_clase[l].append(p)
                        if l in dicc_classes.keys():
                            n = int(dicc_classes[l])
                            if p not in dicc_lim.keys():
                                dicc_lim[p] = [n]
                            else:
                                dicc_lim[p].append(n)
                        
#print(dicc_lim)
#print("Id de curso | Limite de alumnos")
for i in dicc_lim.keys():
    suma = 0
    contador = 0
    for j in dicc_lim[i]:
        suma += j
        contador += 1
    promedio = suma/contador
    dicc_lim[i] = int(math.ceil(promedio/10.0))*10
   # print(i, dicc_lim[i])
#print(dicc_curso_clase

In [264]:
cluster = {}
#dics subparte
#dicct horario
for i in sorted(dics):
    for j in dics[i][1]:
        #print(dics[i][1
        for x in dicct:
            for w in dicct[x][1]:
                if j == w:
                    #tupla2 = tuple(set(dics[i][2]))
                    key = (i,x)
                    if key not in cluster.keys():
                        cluster[key] = []
                    #print(dics[i][2])
                    cluster[key].append(dicc_curso_clase[j][0])
                
#print("(Cursos, cantidad de clases de subparte, horario): Clases que se adaptan")
#print(cluster)

In [208]:
#Patrones de salas
diccr = {}
dic2 = {}
for index, row in df_relation_class_room.iterrows():
    #print(row["ClassId"], row["RoomId"])
    if row["ClassId"] not in diccr.keys():
        diccr[row["ClassId"]] = []
    diccr[row["ClassId"]].append(row["RoomId"])
#print(diccr)

for i in diccr:
    #print(i, diccr[i])
    tupla = tuple(diccr[i])
    if tupla not in dic2.keys():
        dic2[tupla] = []
    dic2[tupla].append(i)
#print(dic2)

c = 0

#print("Salas | Preferencias de clases por la sala")
#for i in dic2:
#    print(i, dic2[i])
#    c+=1
#print(c)

In [162]:
## Cuantos cursos hay para cada capacidad redondeada

print("Capacidad de curso | Conteo de cursos")
dicc_cont = {}
for i in dicc_lim.values():
        if i not in dicc_cont.keys():
            dicc_cont[i] = 1
        else:
            dicc_cont[i] += 1
for i in dicc_cont.keys():
    print(i, dicc_cont[i])

Capacidad de curso | Conteo de cursos
20 21
60 20
50 35
30 128
130 6
120 3
180 2
40 46
10 1
80 8
70 2

In [156]:
## Cuantos cursos hay para cada capacidad redondeada

print("Capacidad de curso | Conteo de cursos | Cursos")
dicc_cont2 = {}
for i in dicc_lim:
    if dicc_lim[i] not in dicc_cont2.keys():
        dicc_cont2[dicc_lim[i]] = [int(i)]
    else:
        #dicc_cont2[dicc_lim[i]][0] += 1
        dicc_cont2[dicc_lim[i]].append(int(i))
#for i in dicc_cont2.keys():
#    print(i, dicc_cont2[i])

Capacidad de curso | Conteo de cursos | Cursos

In [255]:
cluster2 = {}
c = 0
#for i in cluster:
#    cluster2[(i[1],i[2])] = list(i[0])
#for i in cluster2:
#    print(i, cluster2[i],"\n")
#print(cluster2)
#cluster2 = cluster
for i in cluster:
    cluster2[i] = set(cluster[i])
print(cluster2)

{(1, 93): {'57', '59', '72', '29', '91', '1', '195', '35', '134', '45', '41', '73', '87', '241', '240', '166', '19', '153'}, (1, 105): {'57', '59', '29', '1', '195', '35', '45', '41', '73', '87', '166', '72', '153'}, (1, 116): {'57', '59', '72', '29', '1', '195', '35', '134', '45', '41', '73', '87', '96', '80', '166', '3', '153'}, (1, 126): {'57', '59', '29', '1', '195', '35', '45', '41', '73', '87', '80', '166', '72', '153'}, (1, 136): {'57', '59', '29', '1', '195', '35', '220', '45', '41', '73', '87', '80', '166', '72', '153'}, (1, 146): {'57', '59', '29', '1', '195', '35', '45', '41', '73', '87', '80', '166', '72', '153'}, (1, 156): {'57', '59', '267', '269', '29', '266', '1', '271', '195', '35', '45', '41', '73', '87', '92', '17', '80', '153'}, (1, 166): {'59', '29', '1', '195', '35', '45', '41', '73', '87', '80', '153'}, (1, 176): {'57', '59', '29', '1', '195', '35', '272', '45', '41', '73', '87', '268', '270', '153'}, (1, 186): {'57', '59', '29', '1', '195', '45', '41', '153'}, (1, 195): {'57', '59', '29', '1', '153', '195', '45', '41', '120'}, (1, 206): {'29', '1', '153', '195', '45', '41', '120'}, (1, 216): {'29', '1', '153', '195', '45', '41', '120'}, (1, 226): {'29', '1', '153', '195', '45', '41', '120'}, (1, 236): {'29', '1', '153', '195', '45', '41', '120'}, (1, 246): {'57', '59', '29', '1', '153', '195', '45', '41', '73', '87', '80', '166', '120'}, (2, 93): {'164', '89', '151', '83', '115', '84', '125', '102', '21', '152', '7', '26', '105', '16', '23', '14', '71', '38', '170', '137', '10', '127', '70', '158', '58', '93', '20', '141', '156', '44', '100', '46', '6', '121', '146', '147', '160', '128', '5', '109', '79', '131', '135', '149', '154', '85', '52', '56', '155', '167', '104', '77', '159', '162', '175', '103', '133', '101', '67', '165', '112', '64', '132', '124', '88', '66', '48', '260', '43', '114', '140', '107', '11', '261', '150', '118', '163', '139', '130', '144', '136', '143', '169', '62', '74', '30', '55', '69', '168', '50', '113', '75', '27', '25', '117', '4', '86', '33', '49', '81', '34', '22'}, (2, 105): {'164', '89', '151', '83', '84', '125', '102', '21', '152', '7', '26', '161', '105', '71', '23', '14', '38', '170', '137', '10', '127', '70', '158', '58', '20', '141', '156', '44', '100', '46', '6', '121', '146', '147', '160', '128', '5', '109', '79', '131', '135', '149', '154', '85', '52', '56', '155', '167', '104', '77', '159', '162', '175', '142', '103', '133', '67', '165', '64', '132', '124', '88', '66', '48', '43', '114', '140', '107', '11', '150', '118', '163', '139', '130', '144', '136', '143', '169', '62', '74', '30', '55', '69', '168', '50', '75', '27', '25', '117', '4', '86', '33', '49', '81', '34', '22'}, (2, 116): {'164', '89', '151', '83', '84', '125', '102', '21', '152', '7', '26', '161', '105', '16', '23', '14', '71', '38', '170', '137', '10', '127', '70', '158', '58', '93', '20', '141', '156', '44', '100', '46', '6', '121', '146', '147', '160', '128', '60', '5', '53', '109', '79', '131', '135', '149', '154', '85', '52', '56', '155', '167', '104', '77', '159', '162', '175', '142', '103', '133', '67', '165', '119', '112', '64', '132', '124', '88', '66', '48', '61', '43', '114', '140', '107', '11', '150', '118', '163', '139', '130', '144', '136', '143', '169', '62', '74', '30', '55', '36', '69', '168', '50', '113', '75', '27', '25', '117', '4', '86', '33', '49', '81', '34', '22'}, (2, 126): {'164', '89', '151', '83', '84', '125', '102', '21', '152', '7', '26', '161', '105', '71', '23', '14', '38', '170', '137', '10', '127', '70', '158', '58', '28', '20', '141', '156', '44', '100', '46', '6', '121', '146', '147', '160', '128', '60', '5', '53', '109', '79', '131', '135', '149', '154', '85', '265', '52', '56', '155', '167', '104', '77', '159', '162', '175', '39', '78', '142', '103', '133', '67', '165', '119', '64', '132', '124', '88', '66', '48', '61', '43', '114', '140', '107', '11', '150', '118', '163', '65', '139', '130', '144', '136', '143', '169', '62', '51', '74', '30', '55', '36', '69', '168', '50', '75', '27', '25', '117', '4', '86', '33', '49', '81', '34', '22'}, (2, 136): {'164', '89', '151', '83', '84', '125', '102', '21', '152', '7', '26', '161', '105', '16', '23', '14', '71', '38', '170', '137', '10', '127', '70', '158', '58', '28', '20', '141', '156', '44', '100', '46', '6', '121', '146', '147', '160', '128', '60', '5', '53', '109', '79', '131', '135', '149', '154', '85', '52', '56', '155', '167', '104', '77', '159', '162', '175', '39', '78', '142', '103', '133', '101', '67', '165', '119', '64', '124', '132', '88', '66', '48', '61', '98', '43', '114', '140', '107', '11', '150', '118', '163', '65', '139', '130', '144', '136', '143', '169', '62', '51', '74', '30', '55', '36', '69', '168', '50', '113', '75', '27', '25', '117', '4', '86', '33', '49', '81', '34', '22'}, (2, 146): {'164', '89', '151', '83', '84', '125', '102', '21', '152', '7', '26', '161', '105', '71', '23', '14', '38', '170', '137', '10', '127', '70', '158', '58', '28', '20', '141', '156', '44', '100', '46', '6', '121', '146', '147', '160', '128', '60', '5', '53', '109', '79', '131', '135', '149', '154', '85', '52', '56', '155', '167', '104', '77', '159', '162', '175', '39', '78', '142', '103', '133', '67', '165', '119', '64', '132', '124', '88', '66', '48', '61', '43', '114', '140', '107', '11', '150', '118', '163', '65', '139', '130', '144', '136', '143', '169', '62', '51', '74', '30', '55', '36', '69', '168', '50', '75', '27', '25', '117', '4', '86', '33', '49', '81', '34', '22'}, (2, 156): {'164', '89', '151', '83', '84', '125', '102', '21', '152', '7', '26', '161', '105', '71', '23', '14', '38', '170', '137', '10', '127', '70', '158', '58', '28', '20', '141', '156', '44', '100', '46', '6', '121', '146', '147', '160', '128', '60', '5', '53', '109', '79', '131', '135', '149', '154', '85', '52', '56', '155', '167', '104', '77', '159', '162', '175', '39', '78', '142', '103', '133', '67', '165', '123', '119', '112', '64', '132', '124', '88', '66', '48', '61', '43', '114', '140', '107', '11', '150', '118', '163', '65', '139', '130', '144', '136', '143', '169', '62', '51', '30', '55', '36', '69', '168', '50', '75', '27', '25', '117', '4', '86', '33', '49', '81', '34', '22'}, (2, 166): {'164', '89', '151', '83', '84', '125', '102', '152', '7', '26', '161', '105', '94', '71', '23', '14', '38', '170', '137', '10', '127', '70', '158', '58', '28', '20', '141', '156', '44', '100', '46', '6', '121', '146', '147', '160', '128', '60', '5', '53', '109', '79', '131', '135', '149', '154', '85', '52', '56', '155', '167', '104', '77', '159', '162', '175', '39', '78', '142', '103', '133', '67', '165', '123', '119', '64', '132', '124', '88', '66', '48', '61', '43', '114', '140', '107', '11', '150', '118', '163', '65', '139', '130', '144', '136', '143', '169', '62', '51', '30', '55', '36', '69', '168', '50', '113', '75', '27', '25', '117', '4', '86', '33', '49', '81', '34', '22'}, (2, 176): {'164', '89', '151', '83', '115', '84', '125', '102', '152', '7', '26', '161', '105', '94', '71', '23', '14', '38', '170', '137', '10', '127', '70', '158', '28', '20', '141', '156', '44', '100', '46', '6', '146', '147', '160', '128', '60', '5', '53', '109', '79', '131', '135', '149', '154', '85', '52', '56', '155', '167', '104', '77', '159', '162', '175', '39', '78', '142', '103', '133', '67', '165', '119', '112', '64', '132', '124', '88', '66', '48', '61', '43', '114', '140', '107', '11', '150', '118', '163', '65', '139', '130', '144', '143', '169', '62', '51', '30', '55', '36', '69', '168', '50', '75', '27', '25', '117', '4', '86', '33', '49', '81', '34', '22'}, (2, 186): {'164', '89', '151', '84', '125', '102', '152', '7', '26', '161', '105', '71', '23', '14', '38', '170', '137', '10', '127', '70', '158', '28', '20', '141', '156', '44', '100', '46', '6', '146', '147', '160', '128', '60', '5', '53', '109', '79', '131', '135', '149', '154', '85', '265', '52', '56', '155', '167', '104', '77', '159', '162', '175', '39', '78', '142', '103', '133', '101', '67', '165', '119', '64', '132', '124', '88', '66', '48', '43', '114', '140', '107', '11', '150', '118', '163', '65', '139', '130', '144', '143', '169', '62', '51', '30', '55', '36', '69', '168', '50', '75', '27', '25', '117', '4', '86', '49', '81', '34', '22'}, (2, 195): {'164', '89', '151', '84', '125', '102', '152', '7', '26', '161', '105', '94', '71', '23', '14', '38', '170', '137', '10', '127', '70', '158', '28', '20', '141', '156', '44', '100', '46', '6', '146', '147', '160', '128', '60', '5', '53', '109', '79', '131', '135', '149', '154', '85', '52', '56', '155', '167', '104', '77', '159', '162', '175', '39', '78', '142', '103', '133', '67', '165', '119', '64', '132', '124', '88', '66', '48', '98', '43', '114', '140', '107', '11', '150', '118', '163', '65', '139', '130', '144', '143', '169', '62', '51', '30', '55', '36', '69', '168', '50', '75', '27', '25', '117', '4', '86', '49', '81', '34', '22'}, (2, 206): {'164', '89', '151', '84', '125', '102', '21', '152', '26', '161', '105', '71', '23', '14', '38', '170', '137', '10', '127', '70', '158', '58', '28', '20', '141', '156', '100', '46', '6', '146', '147', '160', '128', '60', '5', '53', '109', '79', '131', '135', '149', '154', '85', '52', '56', '155', '167', '104', '77', '159', '162', '175', '39', '78', '142', '103', '133', '67', '165', '119', '64', '132', '124', '88', '66', '48', '43', '140', '107', '11', '150', '118', '163', '65', '139', '130', '144', '143', '169', '62', '51', '30', '55', '69', '168', '50', '75', '27', '25', '117', '4', '86', '49', '81', '34', '22'}, (2, 216): {'89', '151', '84', '125', '102', '152', '26', '161', '105', '71', '23', '14', '38', '170', '137', '10', '127', '70', '158', '28', '20', '141', '156', '100', '46', '6', '146', '147', '160', '128', '60', '5', '53', '109', '79', '131', '135', '154', '85', '265', '52', '56', '155', '167', '104', '77', '162', '175', '39', '78', '142', '103', '133', '67', '165', '119', '64', '132', '124', '88', '66', '48', '107', '11', '150', '118', '163', '65', '139', '144', '143', '62', '51', '30', '55', '69', '168', '50', '75', '27', '25', '117', '4', '86', '49', '81', '34', '22'}, (2, 226): {'89', '151', '84', '125', '102', '152', '26', '161', '105', '71', '23', '14', '38', '170', '137', '10', '127', '70', '158', '28', '20', '141', '156', '100', '46', '6', '146', '147', '160', '128', '60', '5', '53', '109', '79', '131', '135', '154', '85', '52', '56', '155', '167', '104', '77', '162', '175', '39', '78', '142', '103', '133', '67', '165', '119', '64', '132', '124', '88', '66', '48', '107', '11', '150', '118', '163', '65', '139', '144', '143', '62', '51', '30', '55', '69', '168', '50', '75', '27', '25', '117', '4', '86', '49', '81', '34', '22'}, (2, 236): {'89', '151', '84', '125', '102', '152', '26', '161', '105', '71', '23', '14', '38', '170', '137', '10', '127', '70', '158', '28', '20', '141', '156', '100', '46', '6', '146', '147', '160', '128', '60', '5', '53', '109', '79', '131', '135', '154', '85', '52', '56', '155', '167', '104', '77', '162', '175', '39', '78', '142', '103', '133', '67', '165', '119', '64', '132', '124', '88', '66', '48', '107', '11', '150', '118', '163', '65', '139', '144', '143', '62', '51', '30', '55', '69', '168', '50', '75', '27', '25', '117', '4', '86', '49', '81', '34', '22'}, (2, 246): {'89', '151', '83', '84', '125', '102', '21', '152', '7', '26', '161', '105', '71', '23', '14', '38', '170', '137', '10', '127', '70', '158', '58', '28', '20', '141', '156', '44', '46', '6', '146', '147', '160', '128', '60', '5', '53', '109', '79', '131', '135', '154', '85', '52', '56', '155', '167', '104', '77', '159', '162', '39', '78', '142', '103', '133', '67', '165', '119', '64', '132', '124', '88', '66', '48', '61', '140', '107', '11', '150', '118', '163', '65', '139', '144', '143', '169', '62', '51', '30', '55', '69', '168', '50', '75', '27', '25', '117', '4', '86', '49', '81', '34', '22'}, (2, 201): {'82', '13', '110', '42', '31', '129', '68', '12', '111', '148', '54'}, (2, 150): {'98'}, (2, 210): {'98'}, (2, 256): {'140', '169', '159'}, (3, 116): {'138', '99', '116', '40', '9', '122', '18', '108', '157', '190', '106', '8', '15'}, (3, 126): {'138', '99', '116', '40', '9', '122', '18', '108', '157', '190', '106', '8', '15'}, (3, 136): {'138', '99', '116', '40', '9', '122', '18', '108', '157', '190', '106', '8', '15'}, (3, 146): {'138', '99', '116', '40', '9', '122', '18', '108', '157', '190', '106', '8', '15'}, (3, 156): {'138', '99', '116', '264', '40', '9', '122', '18', '108', '157', '190', '106', '8', '15'}, (3, 246): {'138', '99', '116', '40', '9', '122', '18', '108', '157', '106', '8', '15'}, (3, 93): {'138', '99', '116', '264', '40', '9', '122', '18', '108', '157', '190', '106', '8', '15'}, (3, 105): {'138', '99', '116', '40', '9', '122', '18', '108', '157', '190', '106', '8', '15'}, (3, 166): {'138', '99', '116', '264', '40', '9', '122', '18', '108', '157', '190', '106', '8', '15'}, (3, 176): {'138', '99', '116', '264', '40', '9', '122', '18', '108', '157', '190', '106', '8', '15'}, (3, 186): {'138', '99', '116', '40', '9', '122', '18', '108', '157', '190', '106', '8', '15'}, (3, 195): {'138', '99', '116', '40', '9', '122', '18', '108', '157', '190', '106', '8', '15'}, (3, 206): {'138', '99', '116', '40', '9', '122', '18', '108', '157', '190', '106', '8', '15'}, (3, 216): {'138', '99', '116', '40', '9', '122', '18', '108', '157', '190', '106', '8', '15'}, (3, 226): {'138', '99', '116', '40', '9', '122', '18', '108', '157', '190', '106', '8', '15'}, (3, 236): {'138', '99', '116', '40', '9', '122', '18', '108', '157', '190', '106', '8', '15'}, (3, 132): {'24', '99'}, (3, 141): {'24', '99'}, (3, 150): {'264', '24', '99'}, (3, 111): {'99'}, (3, 99): {'99'}, (3, 120): {'99'}, (3, 162): {'99'}, (3, 171): {'264', '99'}, (3, 180): {'99'}, (3, 190): {'264', '99'}, (3, 201): {'99'}, (3, 210): {'99'}, (3, 222): {'99'}, (3, 231): {'99'}, (3, 240): {'99'}, (4, 116): {'251', '145', '126', '238'}, (4, 126): {'145', '126', '238'}, (4, 136): {'251', '145', '126', '238'}, (4, 146): {'145', '126', '238'}, (4, 156): {'251', '145', '126', '238'}, (4, 246): {'145', '126', '238'}, (4, 93): {'145', '126', '238'}, (4, 105): {'145', '126', '238'}, (4, 166): {'145', '238'}, (4, 176): {'251', '238'}, (4, 186): {'238'}, (4, 195): {'251', '238'}, (4, 206): {'238'}, (4, 216): {'238'}, (4, 226): {'238'}, (4, 236): {'238'}, (5, 156): {'76', '63', '173', '90', '235', '32', '37', '47', '232'}, (5, 166): {'76', '63', '173', '90', '235', '32', '37', '47', '232'}, (5, 176): {'76', '63', '173', '90', '235', '32', '37', '47', '232'}, (5, 186): {'76', '63', '173', '90', '235', '32', '37', '47', '232'}, (5, 195): {'76', '63', '173', '90', '235', '32', '37', '47', '232'}, (5, 206): {'173', '235', '232', '32'}, (5, 216): {'173', '235', '232', '32'}, (5, 226): {'173', '235', '232', '32'}, (5, 236): {'173', '235', '232', '32'}, (5, 246): {'76', '63', '173', '90', '235', '32', '37', '47', '232'}, (5, 93): {'76', '63', '173', '90', '235', '37', '47', '232'}, (5, 105): {'76', '63', '173', '90', '235', '37', '47', '232'}, (5, 116): {'76', '63', '173', '90', '235', '37', '47', '232'}, (5, 126): {'76', '63', '173', '90', '235', '37', '47', '232'}, (5, 136): {'76', '63', '173', '90', '235', '37', '47', '232'}, (5, 146): {'76', '63', '173', '90', '235', '37', '47', '232'}, (6, 93): {'231', '259', '204', '208', '213', '214', '258', '218', '205', '2', '257', '212', '203', '199', '210', '256'}, (6, 136): {'231', '204', '208', '213', '214', '218', '205', '2', '212', '203', '199', '210'}, (6, 105): {'231', '208', '204', '213', '214', '218', '205', '212', '203', '199', '210'}, (6, 116): {'231', '208', '204', '213', '214', '218', '205', '257', '212', '203', '199', '210', '256'}, (6, 126): {'231', '208', '204', '213', '214', '218', '205', '212', '203', '199', '210'}, (6, 146): {'231', '208', '204', '213', '214', '218', '205', '212', '203', '199', '210'}, (6, 156): {'231', '208', '204', '213', '214', '218', '205', '212', '203', '199', '210'}, (6, 166): {'208', '204', '213', '214', '218', '205', '212', '203', '199', '210'}, (6, 176): {'208', '204', '213', '214', '218', '205', '212', '203', '199', '210'}, (6, 186): {'208', '204', '213', '214', '218', '205', '212', '203', '199', '210'}, (6, 195): {'208', '204', '213', '214', '218', '205', '212', '203', '199', '210'}, (6, 206): {'208', '204', '213', '214', '218', '205', '212', '203', '199', '210'}, (6, 216): {'208', '204', '213', '214', '218', '205', '212', '203', '199', '210'}, (6, 226): {'208', '204', '213', '214', '218', '205', '212', '203', '199', '210'}, (6, 236): {'208', '204', '213', '214', '218', '205', '212', '203', '199', '210'}, (7, 105): {'247', '248', '245'}, (7, 116): {'262', '248', '252', '245', '247', '253', '263'}, (7, 126): {'247', '262', '248', '245'}, (7, 136): {'248', '252', '245', '247', '253'}, (7, 146): {'247', '248', '245'}, (7, 156): {'248', '252', '245', '247', '253'}, (7, 166): {'247', '248', '245'}, (7, 176): {'248', '252', '245', '247', '253'}, (7, 186): {'247', '248', '245'}, (7, 195): {'247', '248', '253', '245'}, (7, 246): {'247', '248', '245'}, (7, 93): {'247', '248', '245'}, (7, 206): {'247', '248', '245'}, (7, 216): {'247', '248', '245'}, (7, 226): {'247', '248', '245'}, (7, 236): {'247', '248', '245'}, (8, 93): {'236', '191'}, (8, 105): {'236', '191'}, (8, 116): {'236', '191'}, (8, 126): {'236', '191'}, (8, 136): {'236', '255', '191'}, (8, 146): {'236', '191'}, (8, 156): {'236', '255', '191'}, (8, 166): {'236', '191'}, (8, 176): {'236', '255', '191'}, (8, 186): {'236', '191'}, (8, 195): {'236', '255', '191'}, (8, 206): {'236', '191'}, (8, 216): {'236', '191'}, (8, 226): {'236', '191'}, (8, 236): {'236', '191'}, (8, 246): {'236', '191'}, (9, 156): {'172', '216', '201', '237', '176', '183', '177', '184', '223', '185', '209', '198', '188', '197', '221', '200', '230', '254', '181', '193', '171'}, (9, 93): {'172', '216', '201', '237', '176', '186', '183', '177', '184', '187', '223', '185', '209', '198', '188', '197', '221', '200', '230', '181', '193', '171'}, (9, 105): {'172', '216', '201', '237', '176', '183', '177', '184', '223', '185', '209', '198', '188', '197', '221', '200', '230', '181', '193', '171'}, (9, 116): {'172', '216', '201', '237', '176', '183', '177', '184', '223', '185', '209', '198', '188', '197', '221', '200', '230', '254', '181', '193', '171'}, (9, 126): {'172', '216', '201', '237', '176', '183', '177', '184', '187', '223', '185', '209', '198', '188', '197', '221', '200', '230', '181', '193', '171'}, (9, 136): {'172', '216', '201', '237', '176', '183', '177', '184', '223', '185', '209', '198', '188', '197', '221', '200', '230', '254', '181', '193', '171'}, (9, 146): {'172', '216', '201', '237', '176', '183', '177', '184', '223', '185', '209', '198', '188', '197', '221', '200', '230', '181', '193', '171'}, (9, 166): {'172', '216', '201', '237', '176', '183', '177', '184', '223', '185', '209', '198', '188', '197', '221', '200', '230', '181', '193', '171'}, (9, 176): {'172', '216', '201', '237', '176', '183', '177', '184', '223', '185', '209', '198', '188', '197', '221', '200', '230', '254', '181', '193', '171'}, (9, 186): {'172', '216', '201', '237', '176', '183', '177', '184', '223', '185', '209', '198', '188', '197', '221', '200', '230', '181', '193', '171'}, (9, 195): {'172', '216', '201', '237', '176', '183', '177', '184', '223', '185', '209', '198', '188', '197', '221', '200', '230', '254', '181', '193', '171'}, (9, 206): {'172', '216', '201', '237', '176', '183', '177', '184', '223', '185', '209', '198', '188', '197', '221', '200', '230', '181', '193', '171'}, (9, 216): {'172', '216', '201', '237', '176', '183', '177', '184', '223', '185', '209', '198', '188', '197', '221', '200', '230', '181', '193', '171'}, (9, 226): {'172', '216', '201', '237', '176', '183', '177', '184', '223', '185', '209', '198', '188', '197', '221', '200', '230', '181', '193', '171'}, (9, 236): {'172', '216', '201', '237', '176', '183', '177', '184', '223', '185', '209', '198', '188', '197', '221', '200', '230', '181', '193', '171'},

In [265]:
print("Subparte | horario | límite clase")
cluster_cursos = {}
for i in cluster2:
    #print(i,cluster2[i])
    for j in cluster2[i]:
        c = 0
        for k in dicc_cont2:
            for z in dicc_cont2[k]:
            #print(k,dicc_cont2[k])
                if int(j) == int(z):
                    c+=1
                    key = i[0],i[1],k
                    if key not in cluster_cursos:
                        cluster_cursos[key] = []
                    cluster_cursos[key].append(z)
                    #print(i[0],i[1],j)
                    #cluster_cursos[(i[0],i[1],j)] = dicc_cont2[k]

#print(cluster_cursos)

Subparte | horario | límite clase

In [259]:
print("(Subparte | horario | límite alumnos curso): [Cursos]")
lista = []
c=0
for i in cluster_cursos:
    #print(cluster_cursos[i])
    for j in cluster_cursos[i]:
        if j not in lista:
            lista.append(j)
            c+=1
for i in cluster_cursos:
    print(i, cluster_cursos[i],"\n")
 #   print(i, cluster_cursos[i])
print(len(cluster_cursos))
print(c)
print(sorted(lista))
#cluster_cursos2 = {}
#for i in cluster_cursos:
 #   if i in cluster_cursos2.keys()
  #  print(i, cluster_cursos[i],"\n")

(Subparte | horario | límite alumnos curso): [Cursos]
(1, 93, 30) [57, 59, 29, 35, 134, 45, 41, 240, 166, 153]

(1, 93, 40) [72, 73, 87]

(1, 93, 60) [91]

(1, 93, 20) [1]

(1, 93, 50) [195, 241]

(1, 93, 180) [19]

(1, 105, 30) [57, 59, 29, 35, 45, 41, 166, 153]

(1, 105, 20) [1]

(1, 105, 50) [195]

(1, 105, 40) [73, 87, 72]

(1, 116, 30) [57, 59, 29, 35, 134, 45, 41, 80, 166, 153]

(1, 116, 40) [72, 73, 87]

(1, 116, 20) [1, 3]

(1, 116, 50) [195]

(1, 116, 60) [96]

(1, 126, 30) [57, 59, 29, 35, 45, 41, 80, 166, 153]

(1, 126, 20) [1]

(1, 126, 50) [195]

(1, 126, 40) [73, 87, 72]

(1, 136, 30) [57, 59, 29, 35, 45, 41, 80, 166, 153]

(1, 136, 20) [1]

(1, 136, 50) [195, 220]

(1, 136, 40) [73, 87, 72]

(1, 146, 30) [57, 59, 29, 35, 45, 41, 80, 166, 153]

(1, 146, 20) [1]

(1, 146, 50) [195]

(1, 146, 40) [73, 87, 72]

(1, 156, 30) [57, 59, 267, 269, 29, 266, 35, 45, 41, 80, 153]

(1, 156, 20) [1]

(1, 156, 60) [271]

(1, 156, 50) [195]

(1, 156, 40) [73, 87, 92]

(1, 156, 130) [17]

(1, 166, 30) [59, 29, 35, 45, 41, 80, 153]

(1, 166, 20) [1]

(1, 166, 50) [195]

(1, 166, 40) [73, 87]

(1, 176, 30) [57, 59, 29, 35, 272, 45, 41, 268, 153]

(1, 176, 20) [1]

(1, 176, 50) [195]

(1, 176, 40) [73, 87]

(1, 176, 60) [270]

(1, 186, 30) [57, 59, 29, 45, 41, 153]

(1, 186, 20) [1]

(1, 186, 50) [195]

(1, 195, 30) [57, 59, 29, 153, 45, 41]

(1, 195, 20) [1]

(1, 195, 50) [195]

(1, 195, 80) [120]

(1, 206, 30) [29, 153, 45, 41]

(1, 206, 20) [1]

(1, 206, 50) [195]

(1, 206, 80) [120]

(1, 216, 30) [29, 153, 45, 41]

(1, 216, 20) [1]

(1, 216, 50) [195]

(1, 216, 80) [120]

(1, 226, 30) [29, 153, 45, 41]

(1, 226, 20) [1]

(1, 226, 50) [195]

(1, 226, 80) [120]

(1, 236, 30) [29, 153, 45, 41]

(1, 236, 20) [1]

(1, 236, 50) [195]

(1, 236, 80) [120]

(1, 246, 30) [57, 59, 29, 153, 45, 41, 80, 166]

(1, 246, 20) [1]

(1, 246, 50) [195]

(1, 246, 40) [73, 87]

(1, 246, 80) [120]

(2, 93, 30) [164, 89, 83, 152, 7, 105, 14, 71, 170, 70, 58, 93, 156, 100, 6, 146, 147, 154, 56, 167, 162, 101, 165, 132, 66, 150, 163, 143, 169, 62, 74, 30, 55, 168, 75, 86, 33, 81, 34]

(2, 93, 50) [151, 125, 21, 127, 158, 20, 141, 160, 5, 149, 155, 159, 260, 140, 107, 11, 261, 139, 130, 144, 136]

(2, 93, 80) [115, 104]

(2, 93, 20) [84, 26, 79, 52, 77, 64, 69, 50, 27, 25]

(2, 93, 40) [102, 38, 137, 44, 121, 128, 109, 131, 135, 85, 103, 133, 67, 112, 124, 88, 48, 114, 113, 117]

(2, 93, 60) [16, 23, 10, 46, 43, 118, 4, 49, 22]

(2, 93, 130) [175]

(2, 105, 30) [164, 89, 83, 152, 7, 161, 105, 71, 14, 170, 70, 58, 156, 100, 6, 146, 147, 154, 56, 167, 162, 165, 132, 66, 150, 163, 143, 169, 62, 74, 30, 55, 168, 75, 86, 33, 81, 34]

(2, 105, 50) [151, 125, 21, 127, 158, 20, 141, 160, 5, 149, 155, 159, 140, 107, 11, 139, 130, 144, 136]

(2, 105, 20) [84, 26, 79, 52, 77, 64, 69, 50, 27, 25]

(2, 105, 40) [102, 38, 137, 44, 121, 128, 109, 131, 135, 85, 142, 103, 133, 67, 124, 88, 48, 114, 117]

(2, 105, 60) [23, 10, 46, 43, 118, 4, 49, 22]

(2, 105, 80) [104]

(2, 105, 130) [175]

(2, 116, 30) [164, 89, 83, 152, 7, 161, 105, 14, 71, 170, 70, 58, 93, 156, 100, 6, 146, 147, 154, 56, 167, 162, 165, 132, 66, 61, 150, 163, 143, 169, 62, 74, 30, 55, 36, 168, 75, 86, 33, 81, 34]

(2, 116, 50) [151, 125, 21, 127, 158, 20, 141, 160, 5, 149, 155, 159, 140, 107, 11, 139, 130, 144, 136]

(2, 116, 20) [84, 26, 79, 52, 77, 64, 69, 50, 27, 25]

(2, 116, 40) [102, 38, 137, 44, 121, 128, 60, 53, 109, 131, 135, 85, 142, 103, 133, 67, 119, 112, 124, 88, 48, 114, 113, 117]

(2, 116, 60) [16, 23, 10, 46, 43, 118, 4, 49, 22]

(2, 116, 80) [104]

(2, 116, 130) [175]

(2, 126, 30) [164, 89, 83, 152, 7, 161, 105, 71, 14, 170, 70, 58, 28, 156, 100, 6, 146, 147, 154, 56, 167, 162, 78, 165, 132, 66, 61, 150, 163, 65, 143, 169, 62, 51, 74, 30, 55, 36, 168, 75, 86, 33, 81, 34]

(2, 126, 50) [151, 125, 21, 127, 158, 20, 141, 160, 5, 149, 155, 159, 140, 107, 11, 139, 130, 144, 136]

(2, 126, 20) [84, 26, 79, 52, 77, 64, 69, 50, 27, 25]

(2, 126, 40) [102, 38, 137, 44, 121, 128, 60, 53, 109, 131, 135, 85, 265, 142, 103, 133, 67, 119, 124, 88, 48, 114, 117]

(2, 126, 60) [23, 10, 46, 39, 43, 118, 4, 49, 22]

(2, 126, 80) [104]

(2, 126, 130) [175]

(2, 136, 30) [164, 89, 83, 152, 7, 161, 105, 14, 71, 170, 70, 58, 28, 156, 100, 6, 146, 147, 154, 56, 167, 162, 78, 101, 165, 132, 66, 61, 98, 150, 163, 65, 143, 169, 62, 51, 74, 30, 55, 36, 168, 75, 86, 33, 81, 34]

(2, 136, 50) [151, 125, 21, 127, 158, 20, 141, 160, 5, 149, 155, 159, 140, 107, 11, 139, 130, 144, 136]

(2, 136, 20) [84, 26, 79, 52, 77, 64, 69, 50, 27, 25]

(2, 136, 40) [102, 38, 137, 44, 121, 128, 60, 53, 109, 131, 135, 85, 142, 103, 133, 67, 119, 124, 88, 48, 114, 113, 117]

(2, 136, 60) [16, 23, 10, 46, 39, 43, 118, 4, 49, 22]

(2, 136, 80) [104]

(2, 136, 130) [175]

(2, 146, 30) [164, 89, 83, 152, 7, 161, 105, 71, 14, 170, 70, 58, 28, 156, 100, 6, 146, 147, 154, 56, 167, 162, 78, 165, 132, 66, 61, 150, 163, 65, 143, 169, 62, 51, 74, 30, 55, 36, 168, 75, 86, 33, 81, 34]

(2, 146, 50) [151, 125, 21, 127, 158, 20, 141, 160, 5, 149, 155, 159, 140, 107, 11, 139, 130, 144, 136]

(2, 146, 20) [84, 26, 79, 52, 77, 64, 69, 50, 27, 25]

(2, 146, 40) [102, 38, 137, 44, 121, 128, 60, 53, 109, 131, 135, 85, 142, 103, 133, 67, 119, 124, 88, 48, 114, 117]

(2, 146, 60) [23, 10, 46, 39, 43, 118, 4, 49, 22]

(2, 146, 80) [104]

(2, 146, 130) [175]

(2, 156, 30) [164, 89, 83, 152, 7, 161, 105, 71, 14, 170, 70, 58, 28, 156, 100, 6, 146, 147, 154, 56, 167, 162, 78, 165, 132, 66, 61, 150, 163, 65, 143, 169, 62, 51, 30, 55, 36, 168, 75, 86, 33, 81, 34]

(2, 156, 50) [151, 125, 21, 127, 158, 20, 141, 160, 5, 149, 155, 159, 140, 107, 11, 139, 130, 144, 136]

(2, 156, 20) [84, 26, 79, 52, 77, 64, 69, 50, 27, 25]

(2, 156, 40) [102, 38, 137, 44, 121, 128, 60, 53, 109, 131, 135, 85, 142, 103, 133, 67, 123, 119, 112, 124, 88, 48, 114, 117]

(2, 156, 60) [23, 10, 46, 39, 43, 118, 4, 49, 22]

(2, 156, 80) [104]

(2, 156, 130) [175]

(2, 166, 30) [164, 89, 83, 152, 7, 161, 105, 71, 14, 170, 70, 58, 28, 156, 100, 6, 146, 147, 154, 56, 167, 162, 78, 165, 132, 66, 61, 150, 163, 65, 143, 169, 62, 51, 30, 55, 36, 168, 75, 86, 33, 81, 34]

(2, 166, 50) [151, 125, 94, 127, 158, 20, 141, 160, 5, 149, 155, 159, 140, 107, 11, 139, 130, 144, 136]

(2, 166, 20) [84, 26, 79, 52, 77, 64, 69, 50, 27, 25]

(2, 166, 40) [102, 38, 137, 44, 121, 128, 60, 53, 109, 131, 135, 85, 142, 103, 133, 67, 123, 119, 124, 88, 48, 114, 113, 117]

(2, 166, 60) [23, 10, 46, 39, 43, 118, 4, 49, 22]

(2, 166, 80) [104]

(2, 166, 130) [175]

(2, 176, 30) [164, 89, 83, 152, 7, 161, 105, 71, 14, 170, 70, 28, 156, 100, 6, 146, 147, 154, 56, 167, 162, 78, 165, 132, 66, 61, 150, 163, 65, 143, 169, 62, 51, 30, 55, 36, 168, 75, 86, 33, 81, 34]

(2, 176, 50) [151, 125, 94, 127, 158, 20, 141, 160, 5, 149, 155, 159, 140, 107, 11, 139, 130, 144]

(2, 176, 80) [115, 104]

(2, 176, 20) [84, 26, 79, 52, 77, 64, 69, 50, 27, 25]

(2, 176, 40) [102, 38, 137, 44, 128, 60, 53, 109, 131, 135, 85, 142, 103, 133, 67, 119, 112, 124, 88, 48, 114, 117]

(2, 176, 60) [23, 10, 46, 39, 43, 118, 4, 49, 22]

(2, 176, 130) [175]

(2, 186, 30) [164, 89, 152, 7, 161, 105, 71, 14, 170, 70, 28, 156, 100, 6, 146, 147, 154, 56, 167, 162, 78, 101, 165, 132, 66, 150, 163, 65, 143, 169, 62, 51, 30, 55, 36, 168, 75, 86, 81, 34]

(2, 186, 50) [151, 125, 127, 158, 20, 141, 160, 5, 149, 155, 159, 140, 107, 11, 139, 130, 144]

(2, 186, 20) [84, 26, 79, 52, 77, 64, 69, 50, 27, 25]

(2, 186, 40) [102, 38, 137, 44, 128, 60, 53, 109, 131, 135, 85, 265, 142, 103, 133, 67, 119, 124, 88, 48, 114, 117]

(2, 186, 60) [23, 10, 46, 39, 43, 118, 4, 49, 22]

(2, 186, 80) [104]

(2, 186, 130) [175]

(2, 195, 30) [164, 89, 152, 7, 161, 105, 71, 14, 170, 70, 28, 156, 100, 6, 146, 147, 154, 56, 167, 162, 78, 165, 132, 66, 98, 150, 163, 65, 143, 169, 62, 51, 30, 55, 36, 168, 75, 86, 81, 34]

(2, 195, 50) [151, 125, 94, 127, 158, 20, 141, 160, 5, 149, 155, 159, 140, 107, 11, 139, 130, 144]

(2, 195, 20) [84, 26, 79, 52, 77, 64, 69, 50, 27, 25]

(2, 195, 40) [102, 38, 137, 44, 128, 60, 53, 109, 131, 135, 85, 142, 103, 133, 67, 119, 124, 88, 48, 114, 117]

(2, 195, 60) [23, 10, 46, 39, 43, 118, 4, 49, 22]

(2, 195, 80) [104]

(2, 195, 130) [175]

(2, 206, 30) [164, 89, 152, 161, 105, 71, 14, 170, 70, 58, 28, 156, 100, 6, 146, 147, 154, 56, 167, 162, 78, 165, 132, 66, 150, 163, 65, 143, 169, 62, 51, 30, 55, 168, 75, 86, 81, 34]

(2, 206, 50) [151, 125, 21, 127, 158, 20, 141, 160, 5, 149, 155, 159, 140, 107, 11, 139, 130, 144]

(2, 206, 20) [84, 26, 79, 52, 77, 64, 69, 50, 27, 25]

(2, 206, 40) [102, 38, 137, 128, 60, 53, 109, 131, 135, 85, 142, 103, 133, 67, 119, 124, 88, 48, 117]

(2, 206, 60) [23, 10, 46, 39, 43, 118, 4, 49, 22]

(2, 206, 80) [104]

(2, 206, 130) [175]

(2, 216, 30) [89, 152, 161, 105, 71, 14, 170, 70, 28, 156, 100, 6, 146, 147, 154, 56, 167, 162, 78, 165, 132, 66, 150, 163, 65, 143, 62, 51, 30, 55, 168, 75, 86, 81, 34]

(2, 216, 50) [151, 125, 127, 158, 20, 141, 160, 5, 155, 107, 11, 139, 144]

(2, 216, 20) [84, 26, 79, 52, 77, 64, 69, 50, 27, 25]

(2, 216, 40) [102, 38, 137, 128, 60, 53, 109, 131, 135, 85, 265, 142, 103, 133, 67, 119, 124, 88, 48, 117]

(2, 216, 60) [23, 10, 46, 39, 118, 4, 49, 22]

(2, 216, 80) [104]

(2, 216, 130) [175]

(2, 226, 30) [89, 152, 161, 105, 71, 14, 170, 70, 28, 156, 100, 6, 146, 147, 154, 56, 167, 162, 78, 165, 132, 66, 150, 163, 65, 143, 62, 51, 30, 55, 168, 75, 86, 81, 34]

(2, 226, 50) [151, 125, 127, 158, 20, 141, 160, 5, 155, 107, 11, 139, 144]

(2, 226, 20) [84, 26, 79, 52, 77, 64, 69, 50, 27, 25]

(2, 226, 40) [102, 38, 137, 128, 60, 53, 109, 131, 135, 85, 142, 103, 133, 67, 119, 124, 88, 48, 117]

(2, 226, 60) [23, 10, 46, 39, 118, 4, 49, 22]

(2, 226, 80) [104]

(2, 226, 130) [175]

(2, 236, 30) [89, 152, 161, 105, 71, 14, 170, 70, 28, 156, 100, 6, 146, 147, 154, 56, 167, 162, 78, 165, 132, 66, 150, 163, 65, 143, 62, 51, 30, 55, 168, 75, 86, 81, 34]

(2, 236, 50) [151, 125, 127, 158, 20, 141, 160, 5, 155, 107, 11, 139, 144]

(2, 236, 20) [84, 26, 79, 52, 77, 64, 69, 50, 27, 25]

(2, 236, 40) [102, 38, 137, 128, 60, 53, 109, 131, 135, 85, 142, 103, 133, 67, 119, 124, 88, 48, 117]

(2, 236, 60) [23, 10, 46, 39, 118, 4, 49, 22]

(2, 236, 80) [104]

(2, 236, 130) [175]

(2, 246, 30) [89, 83, 152, 7, 161, 105, 71, 14, 170, 70, 58, 28, 156, 6, 146, 147, 154, 56, 167, 162, 78, 165, 132, 66, 61, 150, 163, 65, 143, 169, 62, 51, 30, 55, 168, 75, 86, 81, 34]

(2, 246, 50) [151, 125, 21, 127, 158, 20, 141, 160, 5, 155, 159, 140, 107, 11, 139, 144]

(2, 246, 20) [84, 26, 79, 52, 77, 64, 69, 50, 27, 25]

(2, 246, 40) [102, 38, 137, 44, 128, 60, 53, 109, 131, 135, 85, 142, 103, 133, 67, 119, 124, 88, 48, 117]

(2, 246, 60) [23, 10, 46, 39, 118, 4, 49, 22]

(2, 246, 80) [104]

(2, 201, 30) [82, 31, 68, 148, 54]

(2, 201, 120) [13, 110, 111]

(2, 201, 60) [42, 129]

(2, 201, 130) [12]

(2, 150, 30) [98]

(2, 210, 30) [98]

(2, 256, 50) [140, 159]

(2, 256, 30) [169]

(3, 116, 30) [138, 116, 9, 122, 18, 108, 157, 106, 8, 15]

(3, 116, 50) [99, 40, 190]

(3, 126, 30) [138, 116, 9, 122, 18, 108, 157, 106, 8, 15]

(3, 126, 50) [99, 40, 190]

(3, 136, 30) [138, 116, 9, 122, 18, 108, 157, 106, 8, 15]

(3, 136, 50) [99, 40, 190]

(3, 146, 30) [138, 116, 9, 122, 18, 108, 157, 106, 8, 15]

(3, 146, 50) [99, 40, 190]

(3, 156, 30) [138, 116, 264, 9, 122, 18, 108, 157, 106, 8, 15]

(3, 156, 50) [99, 40, 190]

(3, 246, 30) [138, 116, 9, 122, 18, 108, 157, 106, 8, 15]

(3, 246, 50) [99, 40]

(3, 93, 30) [138, 116, 264, 9, 122, 18, 108, 157, 106, 8, 15]

(3, 93, 50) [99, 40, 190]

(3, 105, 30) [138, 116, 9, 122, 18, 108, 157, 106, 8, 15]

(3, 105, 50) [99, 40, 190]

(3, 166, 30) [138, 116, 264, 9, 122, 18, 108, 157, 106, 8, 15]

(3, 166, 50) [99, 40, 190]

(3, 176, 30) [138, 116, 264, 9, 122, 18, 108, 157, 106, 8, 15]

(3, 176, 50) [99, 40, 190]

(3, 186, 30) [138, 116, 9, 122, 18, 108, 157, 106, 8, 15]

(3, 186, 50) [99, 40, 190]

(3, 195, 30) [138, 116, 9, 122, 18, 108, 157, 106, 8, 15]

(3, 195, 50) [99, 40, 190]

(3, 206, 30) [138, 116, 9, 122, 18, 108, 157, 106, 8, 15]

(3, 206, 50) [99, 40, 190]

(3, 216, 30) [138, 116, 9, 122, 18, 108, 157, 106, 8, 15]

(3, 216, 50) [99, 40, 190]

(3, 226, 30) [138, 116, 9, 122, 18, 108, 157, 106, 8, 15]

(3, 226, 50) [99, 40, 190]

(3, 236, 30) [138, 116, 9, 122, 18, 108, 157, 106, 8, 15]

(3, 236, 50) [99, 40, 190]

(3, 132, 50) [24, 99]

(3, 141, 50) [24, 99]

(3, 150, 30) [264]

(3, 150, 50) [24, 99]

(3, 111, 50) [99]

(3, 99, 50) [99]

(3, 120, 50) [99]

(3, 162, 50) [99]

(3, 171, 30) [264]

(3, 171, 50) [99]

(3, 180, 50) [99]

(3, 190, 30) [264]

(3, 190, 50) [99]

(3, 201, 50) [99]

(3, 210, 50) [99]

(3, 222, 50) [99]

(3, 231, 50) [99]

(3, 240, 50) [99]

(4, 116, 30) [251, 238]

(4, 116, 20) [145, 126]

(4, 126, 20) [145, 126]

(4, 126, 30) [238]

(4, 136, 30) [251, 238]

(4, 136, 20) [145, 126]

(4, 146, 20) [145, 126]

(4, 146, 30) [238]

(4, 156, 30) [251, 238]

(4, 156, 20) [145, 126]

(4, 246, 20) [145, 126]

(4, 246, 30) [238]

(4, 93, 20) [145, 126]

(4, 93, 30) [238]

(4, 105, 20) [145, 126]

(4, 105, 30) [238]

(4, 166, 20) [145]

(4, 166, 30) [238]

(4, 176, 30) [251, 238]

(4, 186, 30) [238]

(4, 195, 30) [251, 238]

(4, 206, 30) [238]

(4, 216, 30) [238]

(4, 226, 30) [238]

(4, 236, 30) [238]

(5, 156, 30) [76, 63, 90, 32, 37]

(5, 156, 40) [173]

(5, 156, 50) [235, 232]

(5, 156, 60) [47]

(5, 166, 30) [76, 63, 90, 32, 37]

(5, 166, 40) [173]

(5, 166, 50) [235, 232]

(5, 166, 60) [47]

(5, 176, 30) [76, 63, 90, 32, 37]

(5, 176, 40) [173]

(5, 176, 50) [235, 232]

(5, 176, 60) [47]

(5, 186, 30) [76, 63, 90, 32, 37]

(5, 186, 40) [173]

(5, 186, 50) [235, 232]

(5, 186, 60) [47]

(5, 195, 30) [76, 63, 90, 32, 37]

(5, 195, 40) [173]

(5, 195, 50) [235, 232]

(5, 195, 60) [47]

(5, 206, 40) [173]

(5, 206, 50) [235, 232]

(5, 206, 30) [32]

(5, 216, 40) [173]

(5, 216, 50) [235, 232]

(5, 216, 30) [32]

(5, 226, 40) [173]

(5, 226, 50) [235, 232]

(5, 226, 30) [32]

(5, 236, 40) [173]

(5, 236, 50) [235, 232]

(5, 236, 30) [32]

(5, 246, 30) [76, 63, 90, 32, 37]

(5, 246, 40) [173]

(5, 246, 50) [235, 232]

(5, 246, 60) [47]

(5, 93, 30) [76, 63, 90, 37]

(5, 93, 40) [173]

(5, 93, 50) [235, 232]

(5, 93, 60) [47]

(5, 105, 30) [76, 63, 90, 37]

(5, 105, 40) [173]

(5, 105, 50) [235, 232]

(5, 105, 60) [47]

(5, 116, 30) [76, 63, 90, 37]

(5, 116, 40) [173]

(5, 116, 50) [235, 232]

(5, 116, 60) [47]

(5, 126, 30) [76, 63, 90, 37]

(5, 126, 40) [173]

(5, 126, 50) [235, 232]

(5, 126, 60) [47]

(5, 136, 30) [76, 63, 90, 37]

(5, 136, 40) [173]

(5, 136, 50) [235, 232]

(5, 136, 60) [47]

(5, 146, 30) [76, 63, 90, 37]

(5, 146, 40) [173]

(5, 146, 50) [235, 232]

(5, 146, 60) [47]

(6, 93, 40) [231, 257, 256]

(6, 93, 50) [259, 258]

(6, 93, 30) [204, 208, 213, 214, 218, 205, 212, 203, 210]

(6, 93, 20) [2]

(6, 93, 130) [199]

(6, 136, 40) [231]

(6, 136, 30) [204, 208, 213, 214, 218, 205, 212, 203, 210]

(6, 136, 20) [2]

(6, 136, 130) [199]

(6, 105, 40) [231]

(6, 105, 30) [208, 204, 213, 214, 218, 205, 212, 203, 210]

(6, 105, 130) [199]

(6, 116, 40) [231, 257, 256]

(6, 116, 30) [208, 204, 213, 214, 218, 205, 212, 203, 210]

(6, 116, 130) [199]

(6, 126, 40) [231]

(6, 126, 30) [208, 204, 213, 214, 218, 205, 212, 203, 210]

(6, 126, 130) [199]

(6, 146, 40) [231]

(6, 146, 30) [208, 204, 213, 214, 218, 205, 212, 203, 210]

(6, 146, 130) [199]

(6, 156, 40) [231]

(6, 156, 30) [208, 204, 213, 214, 218, 205, 212, 203, 210]

(6, 156, 130) [199]

(6, 166, 30) [208, 204, 213, 214, 218, 205, 212, 203, 210]

(6, 166, 130) [199]

(6, 176, 30) [208, 204, 213, 214, 218, 205, 212, 203, 210]

(6, 176, 130) [199]

(6, 186, 30) [208, 204, 213, 214, 218, 205, 212, 203, 210]

(6, 186, 130) [199]

(6, 195, 30) [208, 204, 213, 214, 218, 205, 212, 203, 210]

(6, 195, 130) [199]

(6, 206, 30) [208, 204, 213, 214, 218, 205, 212, 203, 210]

(6, 206, 130) [199]

(6, 216, 30) [208, 204, 213, 214, 218, 205, 212, 203, 210]

(6, 216, 130) [199]

(6, 226, 30) [208, 204, 213, 214, 218, 205, 212, 203, 210]

(6, 226, 130) [199]

(6, 236, 30) [208, 204, 213, 214, 218, 205, 212, 203, 210]

(6, 236, 130) [199]

(7, 105, 30) [247, 248, 245]

(7, 116, 70) [262, 263]

(7, 116, 30) [248, 252, 245, 247, 253]

(7, 126, 30) [247, 248, 245]

(7, 126, 70) [262]

(7, 136, 30) [248, 252, 245, 247, 253]

(7, 146, 30) [247, 248, 245]

(7, 156, 30) [248, 252, 245, 247, 253]

(7, 166, 30) [247, 248, 245]

(7, 176, 30) [248, 252, 245, 247, 253]

(7, 186, 30) [247, 248, 245]

(7, 195, 30) [247, 248, 253, 245]

(7, 246, 30) [247, 248, 245]

(7, 93, 30) [247, 248, 245]

(7, 206, 30) [247, 248, 245]

(7, 216, 30) [247, 248, 245]

(7, 226, 30) [247, 248, 245]

(7, 236, 30) [247, 248, 245]

(8, 93, 40) [236]

(8, 93, 30) [191]

(8, 105, 40) [236]

(8, 105, 30) [191]

(8, 116, 40) [236]

(8, 116, 30) [191]

(8, 126, 40) [236]

(8, 126, 30) [191]

(8, 136, 40) [236]

(8, 136, 30) [255, 191]

(8, 146, 40) [236]

(8, 146, 30) [191]

(8, 156, 40) [236]

(8, 156, 30) [255, 191]

(8, 166, 40) [236]

(8, 166, 30) [191]

(8, 176, 40) [236]

(8, 176, 30) [255, 191]

(8, 186, 40) [236]

(8, 186, 30) [191]

(8, 195, 40) [236]

(8, 195, 30) [255, 191]

(8, 206, 40) [236]

(8, 206, 30) [191]

(8, 216, 40) [236]

(8, 216, 30) [191]

(8, 226, 40) [236]

(8, 226, 30) [191]

(8, 236, 40) [236]

(8, 236, 30) [191]

(8, 246, 40) [236]

(8, 246, 30) [191]

(9, 156, 80) [172, 184, 197, 200, 171]

(9, 156, 30) [216, 237, 223, 209, 221, 230, 254]

(9, 156, 60) [201, 183]

(9, 156, 40) [176, 185, 198, 188, 181, 193]

(9, 156, 130) [177]

(9, 93, 80) [172, 184, 197, 200, 171]

(9, 93, 30) [216, 237, 223, 209, 221, 230]

(9, 93, 60) [201, 183, 187]

(9, 93, 40) [176, 185, 198, 188, 181, 193]

(9, 93, 50) [186]

(9, 93, 130) [177]

(9, 105, 80) [172, 184, 197, 200, 171]

(9, 105, 30) [216, 237, 223, 209, 221, 230]

(9, 105, 60) [201, 183]

(9, 105, 40) [176, 185, 198, 188, 181, 193]

(9, 105, 130) [177]

(9, 116, 80) [172, 184, 197, 200, 171]

(9, 116, 30) [216, 237, 223, 209, 221, 230, 254]

(9, 116, 60) [201, 183]

(9, 116, 40) [176, 185, 198, 188, 181, 193]

(9, 116, 130) [177]

(9, 126, 80) [172, 184, 197, 200, 171]

(9, 126, 30) [216, 237, 223, 209, 221, 230]

(9, 126, 60) [201, 183, 187]

(9, 126, 40) [176, 185, 198, 188, 181, 193]

(9, 126, 130) [177]

(9, 136, 80) [172, 184, 197, 200, 171]

(9, 136, 30) [216, 237, 223, 209, 221, 230, 254]

(9, 136, 60) [201, 183]

(9, 136, 40) [176, 185, 198, 188, 181, 193]

(9, 136, 130) [177]

(9, 146, 80) [172, 184, 197, 200, 171]

(9, 146, 30) [216, 237, 223, 209, 221, 230]

(9, 146, 60) [201, 183]

(9, 146, 40) [176, 185, 198, 188, 181, 193]

(9, 146, 130) [177]

(9, 166, 80) [172, 184, 197, 200, 171]

(9, 166, 30) [216, 237, 223, 209, 221, 230]

(9, 166, 60) [201, 183]

(9, 166, 40) [176, 185, 198, 188, 181, 193]

(9, 166, 130) [177]

(9, 176, 80) [172, 184, 197, 200, 171]

(9, 176, 30) [216, 237, 223, 209, 221, 230, 254]

(9, 176, 60) [201, 183]

(9, 176, 40) [176, 185, 198, 188, 181, 193]

(9, 176, 130) [177]

(9, 186, 80) [172, 184, 197, 200, 171]

(9, 186, 30) [216, 237, 223, 209, 221, 230]

(9, 186, 60) [201, 183]

(9, 186, 40) [176, 185, 198, 188, 181, 193]

(9, 186, 130) [177]

(9, 195, 80) [172, 184, 197, 200, 171]

(9, 195, 30) [216, 237, 223, 209, 221, 230, 254]

(9, 195, 60) [201, 183]

(9, 195, 40) [176, 185, 198, 188, 181, 193]

(9, 195, 130) [177]

(9, 206, 80) [172, 184, 197, 200, 171]

(9, 206, 30) [216, 237, 223, 209, 221, 230]

(9, 206, 60) [201, 183]

(9, 206, 40) [176, 185, 198, 188, 181, 193]

(9, 206, 130) [177]

(9, 216, 80) [172, 184, 197, 200, 171]

(9, 216, 30) [216, 237, 223, 209, 221, 230]

(9, 216, 60) [201, 183]

(9, 216, 40) [176, 185, 198, 188, 181, 193]

(9, 216, 130) [177]

(9, 226, 80) [172, 184, 197, 200, 171]

(9, 226, 30) [216, 237, 223, 209, 221, 230]

(9, 226, 60) [201, 183]

(9, 226, 40) [176, 185, 198, 188, 181, 193]

(9, 226, 130) [177]

(9, 236, 80) [172, 184, 197, 200, 171]

(9, 236, 30) [216, 237, 223, 209, 221, 230]

(9, 236, 60) [201, 183]

(9, 236, 40) [176, 185, 198, 188, 181, 193]

(9, 236, 130) [177]


(14, 116, 30) [206]

(14, 126, 30) [206]

(14, 136, 30) [206]

(14, 146, 30) [206]

(14, 156, 30) [206]

(14, 166, 30) [206]

(14, 176, 30) [206]

(14, 186, 30) [206]

(14, 195, 30) [206]

(14, 206, 30) [206]

(14, 216, 30) [206]

(14, 226, 30) [206]

(14, 236, 30) [206]

(15, 93, 30) [174, 182, 222, 250]

(15, 93, 20) [217, 196]

(15, 93, 50) [215]

(15, 105, 30) [174, 182, 222, 250]

(15, 105, 20) [217, 196]

(15, 105, 50) [215]

(15, 116, 30) [174, 182, 222, 250]

(15, 116, 20) [217, 196]

(15, 116, 50) [215]

(15, 126, 30) [174, 182, 222, 250]

(15, 126, 20) [217, 196]

(15, 126, 50) [215]

(15, 136, 30) [174, 182, 222, 250]

(15, 136, 20) [217, 196]

(15, 136, 50) [215]

(15, 146, 30) [174, 182, 222, 250]

(15, 146, 20) [217, 196]

(15, 146, 50) [215]

(15, 156, 30) [174, 182, 222, 250]

(15, 156, 20) [217, 196]

(15, 156, 50) [215]

(15, 166, 30) [174, 182, 222, 250]

(15, 166, 20) [217, 196]

(15, 166, 50) [215]

(15, 176, 30) [174, 182, 222, 250]

(15, 176, 20) [217, 196]

(15, 176, 50) [215]

(15, 186, 30) [174, 182, 222, 250]

(15, 186, 20) [217, 196]

(15, 186, 50) [215]

(15, 195, 30) [174, 182, 222, 250]

(15, 195, 20) [217, 196]

(15, 195, 50) [215]

(15, 206, 30) [174, 182, 222, 250]

(15, 206, 20) [217, 196]

(15, 206, 50) [215]

(15, 216, 30) [174, 182, 222, 250]

(15, 216, 20) [217, 196]

(15, 216, 50) [215]

(15, 226, 30) [174, 182, 222, 250]

(15, 226, 20) [217, 196]

(15, 226, 50) [215]

(15, 236, 30) [174, 182, 222, 250]

(15, 236, 20) [217, 196]

(15, 236, 50) [215]

(15, 246, 30) [250, 222]

(18, 93, 40) [189]

(18, 116, 40) [189]

(18, 136, 40) [189]

(18, 146, 40) [189]

(18, 156, 40) [189]

(26, 93, 130) [192]

(26, 105, 130) [192]

(26, 116, 130) [192]

(26, 126, 130) [192]

(26, 136, 130) [192]

(26, 146, 130) [192]

(26, 156, 130) [192]

(26, 166, 130) [192]

(26, 176, 130) [192]

(26, 186, 130) [192]

(26, 195, 130) [192]

(26, 206, 130) [192]

(26, 216, 130) [192]

(26, 226, 130) [192]

(26, 236, 130) [192]

(26, 246, 130) [192]

(29, 216, 10) [95]

(29, 93, 10) [95]

(29, 156, 10) [95]

689
272
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272]

In [136]:
dic_cluster = {}
for i, j in enumerate(cluster_cursos):
    dic_cluster[i] = cluster_cursos[j]

In [131]:
from gurobipy import *
from random   import *
import numpy as np
import gurobipy as gp
from gurobipy import GRB

In [ ]:
timetabling = gp.Model("Asignacion de cursos a horarios y salas")

#indices por variable
# x: (cluster,config,bloque)
# w: (cluster,curso)
# c: (config,bloque,patron)


#diccionario cluster {id cluster: cursos dentro}
# config {id curso: }
# conjuntos/subconjuntos
dic_cluster = 
config = 
bloque = 
curso = 
patron = 
Gc_patron = 
Hd_bloque = 
Z =

# parámetros
Q_f = 
M = 100000000000
QN_zp = #hacer como tupleList yo creo
QS_z =
L_c =
h_c = 

## variables

x = {}
for c in dic_cluster.keys():
    for f in range(len(config)):
        for b in range (len(bloque)):
            x[c,f,b] = timetabling.addVar(vtype=grb.GRB.BINARY,name='x_'+str(c)+''+str(f)+''+str(b))
w = {}
for c in range(len(cluster)):
    for k in range(len(curso)):
        w[c,k] = timetabling.addVar(vtype=grb.GRB.BINARY,name='w_'+str(c)+'_'+str(k))
y = {}
for f in range(len(config)):
    for b in range(len(bloque)):
        for p in range(len(patron)):
            y[f,b,p] = timetabling.addVar(vtype=grb.GRB.BINARY,name='y_'+str(f)+''+str(b)+''+str(p))


#Función Objetivo
N= 1 # ???
timetabling.setObjective(N,GRB.MINIMIZE)

#Restricciones

timetabling.addConstr((gp.quicksum(y[f,b,p] for p in range(len(Gc_patron))) <= 1), name = "R1")
timetabling.addConstr((gp.quicksum(x[c,f,b] for b in range(len(Hd_bloque))) == Qf), name = "R2")
timetabling.addConstr((x[c,f,b] <= M*y[f,b,p]), name = "R3")
timetabling.addConstr((y[f,b,p]*(gp.quicksum(QN_zp[z,p]*QS_z[z] for z in range(len(Z)))) <= x*L_c), name = "R4") 
timetabling.addConstr((h_c + gp.quicksum(QN_zp[z,p]*QS_z[z] for z in range(len(Z)))>= x*L_c), name = "R5")
timetabling.addConstr(gp.quicksum(x[c,f,b] for c in range(len(cluster))) == gp.quicksum(y[f,b,p] for p in range(len(Gc_patron))), name = "R6")