Lectura de xml

In [1]:
import pandas as pd
import xml.etree.ElementTree as etree



#tree = etree.parse("tg-fal17.xml")
tree = etree.parse("agh-ggis-spr17.xml")
root = tree.getroot()

columns_problem = ["Name", "NrDays", "SlotsPerDay", "NrWeeks"]
columns_optimization = ["Time", "Room", "Distribution", "Student"]
columns_rooms = ["RoomId", "Capacity", "PreviousRoomIdList", "TravelTimeValueList", "UnavailableDaysList", "UnavailableStartList", "UnavailableLengthList", "UnavailableWeeksList"]
columns_courses = ["CourseId", "ConfigIdList"]
columns_configs = ["ConfigId", "SubpartIdList"]
columns_subparts = ["SubpartId", "ClassIdList"]
columns_classes = ["ClassId", "ClassLimit", "ClassParent"]
columns_distributions = ["DistributionId", "DistributionType", "DistributionRequired", "DistributionPenalty", "ClassesList"]
columns_students = ["StudentId", "CoursesList"]
columns_relation_class_room = ["ClassId", "RoomId", "RoomPenalty"]
columns_relation_class_time = ["ClassId", "TimeDays", "TimeStart", "TimeLength", "TimeWeeks", "TimePenalty"]

df_problem = pd.DataFrame(columns = columns_problem)
df_optimization = pd.DataFrame(columns = columns_optimization)
df_rooms = pd.DataFrame(columns = columns_rooms)
df_courses = pd.DataFrame(columns = columns_courses)
df_configs = pd.DataFrame(columns = columns_configs)
df_subparts = pd.DataFrame(columns = columns_subparts)
df_classes = pd.DataFrame(columns = columns_classes)
df_distributions = pd.DataFrame(columns = columns_distributions)
df_students = pd.DataFrame(columns = columns_students)
df_relation_class_room = pd.DataFrame(columns = columns_relation_class_room)
df_relation_class_time = pd.DataFrame(columns = columns_relation_class_time)




df_problem = df_problem.append({"Name": root.attrib.get("name"), "NrDays": root.attrib.get("nrDays"), "SlotsPerDay": root.attrib.get("slotsPerDay"), "NrWeeks": root.attrib.get("nrWeeks")}, ignore_index = True)

for node in root:
    if node.tag == "optimization":
        df_optimization = df_optimization.append({"Time": node.attrib.get("time"), "Room": node.attrib.get("room"), "Distribution": node.attrib.get("distribution"), "Student": node.attrib.get("student")}, ignore_index = True)
    
    elif node.tag == "rooms":
        for room in node:
            roomid = room.attrib.get("id")
            cap = room.attrib.get("capacity")
            prevroomlist = []
            valuelist = []
            dayslist = []
            startlist = []
            lengthlist = []
            weekslist = []
            if len(list(child.tag for child in room.iter() if child is not room)) > 0:
                for child in room:
                    if child.tag == "travel":
                        prevroomid = child.attrib.get("room")
                        value = child.attrib.get("value")
                        prevroomlist.append(prevroomid)
                        valuelist.append(value)
                    elif child.tag == "unavailable":
                        days = child.attrib.get("days")
                        start = child.attrib.get("start")
                        length = child.attrib.get("length")
                        weeks = child.attrib.get("weeks")
                        dayslist.append(days)
                        startlist.append(start)
                        lengthlist.append(length)
                        weekslist.append(weeks)
            if len(prevroomlist) == 0:
                prevroomlist = None
            if len(valuelist) == 0:
                valuelist = None
            if len(dayslist) == 0:
                dayslist = None
            if len(startlist) == 0:
                startlist = None
            if len(lengthlist) == 0:
                lengthlist = None
            if len(weekslist) == 0:
                weekslist = None
            df_rooms = df_rooms.append(pd.Series([roomid, cap, prevroomlist, valuelist, dayslist, startlist, lengthlist, weekslist], index = columns_rooms), ignore_index = True)
            
    elif node.tag == "courses":
        for course in node:
            #print(course.tag)
            courseid = course.attrib.get("id")
            configlist = []
            for config in course:
                #print(config.tag)
                configid = config.attrib.get("id")
                configlist.append(configid)
                subpartlist = []
                for subpart in config:
                    #print(subpart.tag)
                    subpartid = subpart.attrib.get("id")
                    subpartlist.append(subpartid)
                    claselist = []
                    for clase in subpart:
                        #print(clase.tag)
                        claseid = clase.attrib.get("id")
                        claselist.append(claseid)
                        claselimit = clase.attrib.get("limit")
                        claseparent = clase.attrib.get("parent") if clase.attrib.get("parent") is not None else None
                        df_classes = df_classes.append(pd.Series([claseid, claselimit, claseparent], index = columns_classes), ignore_index = True)
                        if len(list(child.tag for child in clase.iter() if child is not clase)) > 0:
                            for child in clase:
                                #print(child.tag)
                                if child.tag == "room":
                                    roomid = child.attrib.get("id")
                                    roompenalty = child.attrib.get("penalty")
                                    df_relation_class_room = df_relation_class_room.append(pd.Series([claseid, roomid, roompenalty], index = columns_relation_class_room), ignore_index = True)
                                elif child.tag == "time":
                                    timedays = child.attrib.get("days")
                                    timestart = child.attrib.get("start")
                                    timelength = child.attrib.get("length")
                                    timeweeks = child.attrib.get("weeks")
                                    timepenalty = child.attrib.get("penalty")
                                    df_relation_class_time = df_relation_class_time.append(pd.Series([claseid, timedays, timestart, timelength, timeweeks, timepenalty], index = columns_relation_class_time), ignore_index = True)
                    df_subparts = df_subparts.append(pd.Series([subpartid, claselist], index = columns_subparts), ignore_index = True)
                df_configs = df_configs.append(pd.Series([configid, subpartlist], index = columns_configs), ignore_index = True)
            df_courses = df_courses.append(pd.Series([courseid, configlist], index = columns_courses), ignore_index = True)
                                    
    elif node.tag == "distributions":
        contador = 1
        for distribution in node:
            #print(distribution.tag)
            distribid = contador
            distribtype = distribution.attrib.get("type")
            distribrequired = distribution.attrib.get("required") if distribution.attrib.get("required") is not None else None
            distribpenalty = distribution.attrib.get("penalty") if distribution.attrib.get("penalty") is not None else None
            listaclases = []
            for clase in distribution:
                #print(clase.tag)
                listaclases.append(clase.attrib.get("id"))
            df_distributions = df_distributions.append(pd.Series([distribid, distribtype, distribrequired, distribpenalty, listaclases], index = columns_distributions), ignore_index = True)
            contador += 1
             
    elif node.tag == "students":
        for student in node:
            studentid = student.attrib.get("id")
            listacourses = []
            for course in student:
                listacourses.append(course.attrib.get("id"))
            df_students = df_students.append(pd.Series([studentid, listacourses], index = columns_students), ignore_index = True)
            
            


print("################################################################################################################")
print("DataFrame Problem")
display(df_problem)
print("################################################################################################################")
print("DataFrame Optimization")
display(df_optimization)
print("################################################################################################################")
print("DataFrame Rooms")
display(df_rooms)
print("################################################################################################################")
print("DataFrame Courses")
display(df_courses)
print("################################################################################################################")
print("DataFrame Configs")
display(df_configs)
print("################################################################################################################")
print("DataFrame Subparts")
display(df_subparts)
print("################################################################################################################")
print("DataFrame Classes")
display(df_classes)
print("################################################################################################################")
print("DataFrame Distributions")
display(df_distributions)
print("################################################################################################################")
print("DataFrame Students")
display(df_students)
print("################################################################################################################")
print("DataFrame RelationClassRoom")
display(df_relation_class_room)
print("################################################################################################################")
print("DataFrame RelationClassTime")
display(df_relation_class_time)
print("################################################################################################################")

################################################################################################################
DataFrame Problem

             Name NrDays SlotsPerDay NrWeeks
0  agh-ggis-spr17      7         288      16

################################################################################################################
DataFrame Optimization

  Time Room Distribution Student
0    4    1           15       5

################################################################################################################
DataFrame Rooms

,RoomId,Capacity,PreviousRoomIdList,TravelTimeValueList,UnavailableDaysList,UnavailableStartList,UnavailableLengthList,UnavailableWeeksList
0,1,180,"[3, 4, 5, 7, 8, 10, 11, 12, 13, 14, 15, 16, 28...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 0100000, 0100000, 0010000, 0001000, ...","[0, 0, 246, 0, 0, 246, 0, 246, 246]","[288, 204, 42, 288, 204, 42, 288, 42, 42]","[1111111111111111, 1111111111111111, 111111111..."
1,2,30,"[3, 4, 5, 7, 8, 10, 11, 13, 14, 15, 16, 28, 32...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 138, 0]","[288, 288, 288, 288, 288, 114, 150, 288]","[1111111111111111, 1111111111111111, 111111111..."
2,3,120,"[4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 210, 0, 198]","[288, 288, 288, 288, 288, 96, 78, 96, 90]","[1111111111111111, 1111111111111111, 111111111..."
3,4,240,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0000100, 0000010, 0000010, 0000001, 0000001, ...","[262, 84, 222, 84, 216, 225, 225, 189, 234, 96...","[2, 102, 42, 12, 48, 27, 18, 18, 18, 168, 48, ...","[1111111111111111, 1111111111111111, 111111111..."
4,5,140,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0000100, 0000010, 0000010, 0000001, 0000001, ...","[262, 90, 216, 90, 156, 96, 165, 120, 144, 174...","[2, 96, 48, 36, 108, 27, 18, 21, 21, 88, 72, 1...","[1111111111111111, 1111111111111111, 111111111..."
5,6,15,"[7, 8, 10, 11, 12, 13, 14, 15, 16, 28, 32, 35,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 0, 252, 252]","[36, 36, 36, 36, 288, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
6,7,15,"[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0010000, 0001000, ...","[0, 0, 0, 162, 0, 0, 0, 0]","[288, 288, 96, 126, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
7,8,15,"[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 1000000, 1000000, 0100000, 0010000, ...","[0, 138, 180, 0, 0, 0, 0, 0, 0]","[96, 18, 108, 288, 288, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
8,9,30,"[10, 11, 12, 13, 14, 15, 16, 28, 32, 35, 44]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 1000000, 0100000, 0010000, 0001000, ...","[0, 156, 0, 0, 0, 138, 0, 180, 0, 0]","[96, 132, 288, 288, 114, 150, 132, 108, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
9,10,90,"[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 1000000, 0100000, 0100000, 0010000, ...","[0, 120, 0, 144, 0, 150, 0, 0]","[96, 168, 114, 144, 132, 138, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
10,11,90,"[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0010000, 0001000, ...","[0, 0, 0, 234, 0, 198, 0, 0, 156, 0, 138]","[288, 288, 204, 54, 180, 90, 288, 96, 132, 96,...","[1111111111111111, 1111111111111111, 111111111..."
11,12,45,"[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...","[2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0001000, ...","[0, 0, 0, 0, 222, 0, 126, 0, 0]","[288, 288, 288, 186, 66, 96, 162, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
12,13,28,"[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
13,14,70,"[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
14,15,35,"[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100]","[0, 0, 0, 0, 0]","[288, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
15,16,35,"[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100]","[0, 0, 0, 0, 0]","[288, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
16,17,29,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 0]","[288, 288, 288, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
17,18,30,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 1000000, 0100000, 0100000, 0010000, ...","[0, 204, 0, 204, 0, 204, 0, 204, 0, 204, 0, 25...","[84, 84, 84, 84, 84, 84, 84, 84, 84, 84, 84, 3...","[1111111111111111, 1111111111111111, 111111111..."
18,19,30,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
19,20,25,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
20,21,15,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 0, 0, 0]","[36, 36, 36, 36, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
21,22,30,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
22,23,94,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 246, 240]","[36, 36, 36, 36, 36, 42, 48]","[1111111111111111, 1111111111111111, 111111111..."
23,24,96,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 246, 240]","[36, 36, 36, 36, 36, 42, 48]","[1111111111111111, 1111111111111111, 111111111..."
24,25,28,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
25,26,15,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
26,27,15,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[186, 186, 186, 186, 186, 240, 240]","[102, 102, 102, 102, 102, 48, 48]","[1111111111111111, 1111111111111111, 111111111..."
27,28,30,"[29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 4...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
28,29,180,"[32, 35, 44]","[1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 246]","[36, 36, 36, 36, 36, 36, 42]","[1111111111111111, 1111111111111111, 111111111..."
29,30,30,"[32, 35, 44]","[1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[246, 246, 246, 246, 246, 246, 246]","[42, 42, 42, 42, 42, 42, 42]","[1111111111111111, 1111111111111111, 111111111..."
30,31,30,"[32, 35, 44]","[1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
31,32,30,"[33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]","[1000000, 0100000, 0010000, 0010000, 0001000, ...","[252, 252, 176, 252, 252, 252, 252, 252]","[36, 36, 10, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
32,33,15,"[35, 44]","[1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
33,34,30,"[35, 44]","[1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
34,35,35,"[36, 37, 38, 39, 40, 41, 42, 43, 44]","[1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0001000, ...","[0, 0, 0, 0, 192, 216, 0, 0, 198, 0, 198]","[288, 288, 288, 174, 3, 72, 288, 96, 90, 96, 90]","[1111111111111111, 1111111111111111, 111111111..."
35,36,30,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
36,37,30,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
37,38,30,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
38,39,15,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
39,40,42,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[246, 246, 246, 246, 246, 246, 240]","[42, 42, 42, 42, 42, 42, 48]","[1111111111111111, 1111111111111111, 111111111..."
40,41,42,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 246, 240]","[36, 36, 36, 36, 36, 42, 48]","[1111111111111111, 1111111111111111, 111111111..."
41,42,90,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 216, 0, 216]","[288, 288, 288, 288, 288, 186, 72, 96, 72]","[1111111111111111, 1111111111111111, 111111111..."
42,43,15,[44],[1],None,None,None,None
43,44,42,None,None,"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 174, 0]","[288, 288, 288, 288, 288, 96, 114, 288]","[1111111111111111, 1111111111111111, 111111111..."

################################################################################################################
DataFrame Courses

    CourseId ConfigIdList
0          1          [1]
1          2          [2]
2          3          [3]
3          4          [4]
4          5          [5]
..       ...          ...
267      268        [268]
268      269        [269]
269      270        [270]
270      271        [271]
271      272        [272]

[272 rows x 2 columns]

################################################################################################################
DataFrame Configs

    ConfigId       SubpartIdList
0          1                 [1]
1          2  [2, 3, 4, 5, 6, 7]
2          3                 [8]
3          4             [9, 10]
4          5            [11, 12]
..       ...                 ...
267      268              [1219]
268      269              [1220]
269      270              [1221]
270      271              [1222]
271      272              [1223]

[272 rows x 2 columns]

################################################################################################################
DataFrame Subparts

     SubpartId ClassIdList
0            1         [1]
1            2         [2]
2            3         [3]
3            4         [4]
4            5         [5]
...        ...         ...
1219      1219      [1836]
1220      1220      [1837]
1221      1221      [1838]
1222      1222      [1839]
1223      1223      [1840]

[1224 rows x 2 columns]

################################################################################################################
DataFrame Classes

     ClassId ClassLimit ClassParent
0          1         15        None
1          2         15        None
2          3         15        None
3          4         15        None
4          5         15        None
...      ...        ...         ...
1847    1836         30        None
1848    1837         30        None
1849    1838         60        None
1850    1839         60        None
1851    1840         30        None

[1852 rows x 3 columns]

################################################################################################################
DataFrame Distributions

,DistributionId,DistributionType,DistributionRequired,DistributionPenalty,ClassesList
0,1,SameAttendees,true,None,"[1, 8, 378, 568, 1808, 1810, 1818, 1820]"
1,2,SameAttendees,true,None,"[9, 240, 241, 242, 378, 728, 729, 730, 731, 73..."
2,3,SameAttendees,true,None,"[10, 11, 12, 13, 14, 15, 507]"
3,4,SameAttendees,true,None,"[16, 17, 18, 185, 378, 1065, 1066, 1067, 1068,..."
4,5,SameAttendees,true,None,"[16, 19, 20, 393, 394, 401, 579, 580, 1040, 10..."
...,...,...,...,...,...
2685,2686,"MaxBreaks(0,6)",None,4,"[152, 153, 154, 155]"
2686,2687,MaxDays(2),None,4,"[484, 485, 486, 487]"
2687,2688,MaxDays(2),None,4,"[488, 489, 490, 491, 492, 493, 494, 495]"
2688,2689,MaxDays(2),None,1,"[1558, 1559, 1560, 1628, 1629, 1630, 1631, 163..."
2689,2690,"MaxBreaks(0,6)",None,4,"[1292, 1294, 1293, 1271, 1272, 1273, 1296, 127..."

################################################################################################################
DataFrame Students

     StudentId                                        CoursesList
0            1                                       [33, 35, 29]
1            2                                       [33, 35, 29]
2            3                                       [33, 35, 29]
3            4                                       [33, 35, 29]
4            5                                       [33, 35, 29]
...        ...                                                ...
2111      2112  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...
2112      2113  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...
2113      2114  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...
2114      2115  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...
2115      2116  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...

[2116 rows x 2 columns]

################################################################################################################
DataFrame RelationClassRoom

      ClassId RoomId RoomPenalty
0           1     43           0
1           2     43           0
2           3     43           0
3           4     43           0
4           5     43           0
...       ...    ...         ...
12372    1833     32           0
12373    1835     24           0
12374    1838     24           0
12375    1839     24           0
12376    1840     24           0

[12377 rows x 3 columns]

################################################################################################################
DataFrame RelationClassTime

      ClassId TimeDays TimeStart TimeLength         TimeWeeks TimePenalty
0           1  1000000        96         18  0101010010010101           0
1           1  0100000        96         18  0101010010010101           0
2           1  0010000        96         18  0101010010010101           0
3           1  0000100        96         18  0101010010101010           0
4           1  1000000       106         18  0101010010010101           0
...       ...      ...       ...        ...               ...         ...
46662    1836  0100000       176         18  0101010010010101           0
46663    1837  0100000       156         18  1010101000101010           0
46664    1838  0100000       176         18  0101010010010101           0
46665    1839  0100000       156         18  1010101000101010           0
46666    1840  0100000       176         18  1010101000101010           0

[46667 rows x 6 columns]

################################################################################################################

Lectura xml solucion

In [2]:
import pandas as pd
import xml.etree.ElementTree as etree

tree = etree.parse("solution-tg-fal17.xml")
root = tree.getroot()

columns_sol = ["ClassId", "Days", "Start", "Weeks", "Room"]

df_sol = pd.DataFrame(columns = columns_sol)

for clase in root:

SyntaxError: unexpected EOF while parsing (<ipython-input-2-2edd5ad0955c>, line 12)

Analisis de datos

In [2]:
## Duracion en slots de clases:

df_relation_class_time["TimeLength"] = df_relation_class_time["TimeLength"].astype(int)
print("Promedio:")
display(df_relation_class_time["TimeLength"].mean())
print("Min:")
display(df_relation_class_time["TimeLength"].min())
print("Max:")
display(df_relation_class_time["TimeLength"].max())
print("Tiempo de inicio")
display(df_relation_class_time.groupby("TimeStart").count())
print("Count")
display(df_relation_class_time["TimeLength"].value_counts())
print("Mediana:")
display(df_relation_class_time["TimeLength"].median())
print("Cuartiles:")
display(df_relation_class_time["TimeLength"].quantile([0, 0.25, 0.5, 0.75, 1]))
print("Var:")
display(df_relation_class_time["TimeLength"].var())
print("Std:")
display(df_relation_class_time["TimeLength"].std())

Promedio:

22.044592538624723

Min:

9

Max:

144

Tiempo de inicio

           ClassId  TimeDays  TimeLength  TimeWeeks  TimePenalty
TimeStart
102             10        10          10         10           10
105             10        10          10         10           10
106           3042      3042        3042       3042         3042
108             10        10          10         10           10
111             12        12          12         12           12
...            ...       ...         ...        ...          ...
246           1613      1613        1613       1613         1613
256              6         6           6          6            6
93              10        10          10         10           10
96            3138      3138        3138       3138         3138
99              10        10          10         10           10

[64 rows x 5 columns]

Count

18     26008
27     20446
9        101
24        33
36        22
144       13
100       11
120        8
82         7
98         4
124        4
88         3
16         1
48         1
72         1
70         1
26         1
90         1
96         1
Name: TimeLength, dtype: int64

Mediana:

18.0

Cuartiles:

0.00      9.0
0.25     18.0
0.50     18.0
0.75     27.0
1.00    144.0
Name: TimeLength, dtype: float64

Var:

30.098277180969482

Std:

5.486189677815513

In [5]:
## Disponibilidad de salas en los dÃ­as

for index, row in df_rooms.iterrows():
    #print(row["RoomId"], row["UnavailableDaysList"])
    if row["UnavailableDaysList"] is None:
        print(row["RoomId"], row["UnavailableDaysList"])

43 None

In [6]:
## Variabilidad de clases:

#for index, row in df_relation_class_time.iterrows():
#    print(row["ClassId"], row["TimeDays"])
display(df_relation_class_time["ClassId"].value_counts())

400     520
593     160
629     160
628     160
613     128
       ...
366       1
1107      1
1705      1
170       1
888       1
Name: ClassId, Length: 1852, dtype: int64

In [117]:
## Los bloques van a ser de 10 slots (50 minutos)
## Entonces la primera clase es en el slot 96 (08:00) y la ultima clase empieza en el slot 246 (20:30)
## y termina en el slot 266 (22:10)

cantidad_bloques = (256-96)/10 ## 17 bloques
duracion_bloque = 10 ## slots
dicc_bloques = {}

for i in range(1,18):
    dicc_bloques[i] = 96 + (i-1)*10

print(dicc_bloques)

conjunto_bloques = list(dicc_bloques.keys())
print(conjunto_bloques)

{1: 96, 2: 106, 3: 116, 4: 126, 5: 136, 6: 146, 7: 156, 8: 166, 9: 176, 10: 186, 11: 196, 12: 206, 13: 216, 14: 226, 15: 236, 16: 246, 17: 256}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [72]:
##Slots de tiempo y cursos que duran esos slots
print("Slots de tiempo | Cantidad de clases que duran esos slots")
dic={}
#list=[]
for index, row in df_relation_class_time.iterrows():
    #print(row["ClassId"], row["TimeLength"])
    if row["TimeLength"] not in dic.keys():
        dic[row["TimeLength"]] = [0,[]]
    if row["ClassId"] not in dic[row["TimeLength"]][1]:
        #print(row["TimeLength"],row["ClassId"], dic[row["TimeLength"]][1])
        dic[row["TimeLength"]][0]+=1
        dic[row["TimeLength"]][1].append(row["ClassId"])
c= 0
for i in dic:
    print(i, dic[i][0])
    c += dic[i][0]
print("Total",c)

Slots de tiempo | Cantidad de clases que duran esos slots
18 909
144 13
96 1
36 22
9 20
27 811
24 33
48 1
72 1
88 3
98 4
90 1
124 4
120 8
82 7
100 11
16 1
70 1
26 1
Total 1852

In [20]:
#########IGNORAR, cÃ³digo quizÃ¡s Ãºtil para el futuro###############
#Patrones de salas segÃºn clases
diccr = {}
dic2 = {}
for index, row in df_relation_class_room.iterrows():
    #print(row["ClassId"], row["RoomId"])
    if row["ClassId"] not in diccr.keys():
        diccr[row["ClassId"]] = []
    diccr[row["ClassId"]].append(row["RoomId"])
#print(diccr)

for i in diccr:
    #print(i, diccr[i])
    tupla = tuple(diccr[i])
    if tupla not in dic2.keys():
        dic2[tupla] = []
    dic2[tupla].append(i)
#print(dic2)

c = 0

#print("Salas | Preferencias de clases por la sala")
#for i in dic2:
#    print(i, dic2[i])
#    c+=1
#print(c)

In [21]:
#Agrupar capacidad de salas, tipos de sala z (XS,S,M,L)


print("Capacidad | Cantidad de Salas")
display(df_rooms.groupby("Capacity").count()["RoomId"])

dic_salas = {}
for index, row in df_rooms.iterrows():
    x = int(row["Capacity"])
    if x < 30:
        if "XS" not in dic_salas.keys():
            dic_salas["XS"] = [0,[]]
        dic_salas["XS"][1].append(row["RoomId"])
        dic_salas["XS"][0]+=1
    elif x == 30:
        if "S" not in dic_salas.keys():
            dic_salas["S"] = [0,[]]
        dic_salas["S"][1].append(row["RoomId"])
        dic_salas["S"][0]+=1
    elif x <= 90:
        if "M" not in dic_salas.keys():
            dic_salas["M"] = [0,[]]
        dic_salas["M"][1].append(row["RoomId"])
        dic_salas["M"][0]+=1
    else:
        if "L" not in dic_salas.keys():
            dic_salas["L"] = [0,[]]
        dic_salas["L"][1].append(row["RoomId"])
        dic_salas["L"][0]+=1
        
for i in sorted(dic_salas):
    print(i, dic_salas[i])

Capacidad | Cantidad de Salas

Capacity
120     1
140     1
15      9
180     2
240     1
25      1
28      2
29      1
30     13
35      3
42      3
45      1
70      1
90      3
94      1
96      1
Name: RoomId, dtype: int64

L [7, ['1', '3', '4', '5', '23', '24', '29']]
M [11, ['10', '11', '12', '14', '15', '16', '35', '40', '41', '42', '44']]
S [13, ['2', '9', '18', '19', '22', '28', '30', '31', '32', '34', '36', '37', '38']]
XS [13, ['6', '7', '8', '13', '17', '20', '21', '25', '26', '27', '33', '39', '43']]

In [9]:
#Agrupar capacidad de clases

print("LÃ­mite de las clases | Cantidad de clases con el lÃ­mite")
display(df_classes.groupby("ClassLimit").count()["ClassId"])

LÃ­mite de las clases | Cantidad de clases con el lÃ­mite

ClassLimit
10      29
100     12
11      12
12      46
120     18
128     59
129      3
13     100
130      8
14      10
15     223
18      18
180     20
20      66
21      64
22      93
24      70
25      41
26      75
28      56
30     360
32      20
36      79
38       4
40      19
42      54
43      18
44      18
48      39
50      16
52      45
60      76
64      60
75      18
90       3
Name: ClassId, dtype: int64

In [168]:
#Clases en horario similar -3 slots- de margen
#Tiempo inicio | Frecuencia de clases en ese horario | Id de clase
dicct = {}
df_relation_class_time["TimeStart"] = df_relation_class_time["TimeStart"].astype(int)
for index, row in df_relation_class_time.sort_values('TimeStart').iterrows():
    #print(row["ClassId"], row["TimeStart"])
    if row["TimeStart"] != 93:
        x1 = row["TimeStart"]-1
        x2 = row["TimeStart"]-2
        x3 = row["TimeStart"]-3
        if x1 in dicct.keys():
            if row["ClassId"] not in dicct[x1][1]:
                dicct[x1][1].append(row["ClassId"])
                dicct[x1][0] += 1
        elif x2 in dicct.keys():
            if row["ClassId"] not in dicct[x2][1]:
                dicct[x2][1].append(row["ClassId"])
                dicct[x2][0] += 1
        elif x3 in dicct.keys():
            if row["ClassId"] not in dicct[x3][1]:
                dicct[x3][1].append(row["ClassId"])
                dicct[x3][0] += 1
        elif row["TimeStart"] not in dicct.keys():
            dicct[row["TimeStart"]] = [0,[]]
            dicct[row["TimeStart"]][1].append(row["ClassId"])
            dicct[row["TimeStart"]][0] += 1
        elif row["TimeStart"] in dicct.keys() and row["ClassId"] not in dicct[row["TimeStart"]][1]:
            dicct[row["TimeStart"]][1].append(row["ClassId"])
            dicct[row["TimeStart"]][0] += 1

dicct2 = {}
lista2 = []
print("Tiempo inicio | Frecuencia de clases en ese horario | Lista de clase")
for i in dicct:
    if i == 201:
        print(i, dicct[i][1])
    if str(i)[-1] == "6" or i == 195:
        if i == 195:
            lista2.append(i+1)
            dicct2[i+1] = dicct[i]
        else:
            lista2.append(i)
            dicct2[i] = dicct[i]
    else:
        dicct2[lista2[-1]][0]+= len(dicct[i][1])
        dicct2[lista2[-1]][1].append(dicct[i][1])
        
for i in dicct2:
    print(i, dicct2[i][0])
dicct = dicct2
#print(dicct)

Tiempo inicio | Frecuencia de clases en ese horario | Lista de clase
201 ['400', '608', '225', '193', '224', '553', '461', '320', '464', '554', '88', '321', '463', '256', '257', '87', '194', '462', '609', '89', '289', '290', '86']
96 1447
106 1351
116 1484
126 1447
136 1477
146 1446
156 1473
166 1367
176 1370
186 1329
196 1349
206 1244
216 1240
226 1204
236 1214
246 610
256 3

In [192]:
#Clases en horario similar -3 slots- de margen
#Tiempo inicio | Frecuencia de clases en ese horario | Id de clase
dicc_bloques2 = {}
for i in dicc_bloques:
    dicc_bloques2[dicc_bloques[i]] = i
#print(dicc_bloques2)
dicct = {}
lista2 = []
df_relation_class_time["TimeStart"] = df_relation_class_time["TimeStart"].astype(int)
for index, row in df_relation_class_time.sort_values('TimeStart').iterrows():
    if row["TimeStart"] != 93:
        if str(row["TimeStart"])[-1] == "6" and dicc_bloques2[row["TimeStart"]] not in dicct.keys():
            lista2.append(dicc_bloques2[row["TimeStart"]])
            dicct[dicc_bloques2[row["TimeStart"]]] = [0,[]]
        dicct[lista2[-1]][1].append(row["ClassId"])
        dicct[lista2[-1]][0] += 1

for i in dicct:
    print(i, dicct[i][0])

1 3168
2 3074
3 3377
4 3380
5 3418
6 3407
7 3353
8 3041
9 2910
10 2812
11 2807
12 2599
13 2571
14 2541
15 2580
16 1613
17 6

In [174]:
#Cantidad de clases en una subparte
c = 0
dics = {}
dicc_s = {}
for index, row in df_subparts.iterrows():
    dicc_s[row["SubpartId"]] = row["ClassIdList"]
    
for index, col in df_configs.iterrows():
    for i in col["SubpartIdList"]:
        if len(dicc_s[i]) not in dics.keys():
            dics[len(dicc_s[i])] = [1, [], [int(col["ConfigId"])]]
            for z in dicc_s[i]:
                dics[len(dicc_s[i])][1].append(z)
                dics[len(dicc_s[i])][0]+=1
        else:
            dics[len(dicc_s[i])][2].append(int(col["ConfigId"]))
            for z in dicc_s[i]:
                dics[len(dicc_s[i])][1].append(z)
                dics[len(dicc_s[i])][0]+=1


#print("Cantidad de clases en una subparte | Cantidad de veces que se repite en las subpartes | Lista de clases | Config a la que pertenece ")
#for i in sorted(dics):
#    print(i, dics[i][0])

In [175]:
#Cantidad de subpartes de una configuraciÃ³n

c = 0
dics = {}
dicc_s = {}
for index, row in df_subparts.iterrows():
    dicc_s[row["SubpartId"]] = row["ClassIdList"]
    
for index, col in df_configs.iterrows():
        #print(col["ConfigId"],col["SubpartIdList"])
        if len(col["SubpartIdList"]) not in dics.keys():
            dics[len(col["SubpartIdList"])] = [0, [], [int(col["ConfigId"])], 1]
            for z in col["SubpartIdList"]:
                dics[len(col["SubpartIdList"])][0]+=1
                for w in dicc_s[z]: 
                    dics[len(col["SubpartIdList"])][1].append(w)
                    dics[len(col["SubpartIdList"])][3]+=1
        else:
            dics[len(col["SubpartIdList"])][2].append(int(col["ConfigId"]))
            for z in col["SubpartIdList"]:
                dics[len(col["SubpartIdList"])][0]+=1
                for w in dicc_s[z]: 
                    dics[len(col["SubpartIdList"])][1].append(w)
                    dics[len(col["SubpartIdList"])][3]+=1


print("Cantidad de subpartes en una config | Cantidad de veces que se repite | Lista de clases | Config a la que pertenece ")
c=0
for i in sorted(dics):
        print(i, dics[i][0])
        c+=dics[i][0]
#print(dics)

Cantidad de subpartes en una config | Cantidad de veces que se repite | Lista de clases | Config a la que pertenece
1 32
2 258
3 45
4 16
5 45
6 96
7 49
8 24
9 207
10 70
11 33
12 144
13 13
14 14
15 105
18 18
26 26
29 29

In [176]:
import math
#Agrupar capacidad de cursos

#print("LÃ­mite de las clases | Cantidad de clases con el lÃ­mite")
#display(df_classes.groupby("ClassLimit").count()["ClassId"])

dicc_cursos = {}
#display(df_courses)
for index, row in df_courses.iterrows():
    dicc_cursos[row["CourseId"]] = row["ConfigIdList"]
#print(dicc_cursos)      
dicc_configs = {}
#display(df_configs)
for index, row in df_configs.iterrows():
    dicc_configs[row["ConfigId"]] = row["SubpartIdList"]
#print(dicc_configs)
dicc_subparts = {}
#display(df_subparts)
for index, row in df_subparts.iterrows():
    dicc_subparts[row["SubpartId"]] = row["ClassIdList"]
#print(dicc_subparts)
dicc_classes = {}
#display(df_classes)
for index, row in df_classes.iterrows():
    dicc_classes[row["ClassId"]] = row["ClassLimit"]
#print(dicc_classes)

dicc_lim = {}
dicc_curso_clase = {}
for p,i in dicc_cursos.items():
    for j in i:
        if j in dicc_configs.keys():
            #print(dicc_configs[j])
            for k in dicc_configs[j]:
                if k in dicc_subparts.keys():
                    #print(dicc_subparts[k])
                    for l in dicc_subparts[k]:
                        #print(l)
                        #AgreguÃ© estas lineas para hacerme un diccionario de curso con clase#
                        if l not in dicc_curso_clase:
                            dicc_curso_clase[l] = []
                        dicc_curso_clase[l].append(p)
                        ######################################################################
                        if l in dicc_classes.keys():
                            n = int(dicc_classes[l])
                            if p not in dicc_lim.keys():
                                dicc_lim[p] = [n]
                            else:
                                dicc_lim[p].append(n)
                        
#print(dicc_lim)
#print("Id de curso | Limite de alumnos")
for i in dicc_lim.keys():
    suma = 0
    contador = 0
    for j in dicc_lim[i]:
        suma += j
        contador += 1
    promedio = suma/contador
    dicc_lim[i] = int(math.ceil(promedio/10.0))*10
   # print(i, dicc_lim[i])

In [193]:
#AquÃ­ se juntan los cursos que tengan en comÃºn el mismo horario de inicio y la misma cantidad de subpartes
cluster = {}
#dics subparte
#dicct horario
for i in sorted(dics):
    for j in dics[i][1]:
        for x in dicct:
            for w in dicct[x][1]:
                if j == w:
                    key = (i,x)
                    if key not in cluster.keys():
                        cluster[key] = []
                    cluster[key].append(dicc_curso_clase[j][0])
                
#print("(Cursos, cantidad de clases de subparte, horario): Clases que se adaptan")
#print(cluster)

In [178]:
## Cuantos cursos hay para cada capacidad redondeada

print("Capacidad de curso | Conteo de cursos")
dicc_cont = {}
for i in dicc_lim.values():
        if i not in dicc_cont.keys():
            dicc_cont[i] = 1
        else:
            dicc_cont[i] += 1
for i in dicc_cont.keys():
    print(i, dicc_cont[i])

Capacidad de curso | Conteo de cursos
20 21
60 20
50 35
30 128
130 6
120 3
180 2
40 46
10 1
80 8
70 2

In [179]:
## Cuantos cursos hay para cada capacidad redondeada

print("Capacidad de curso | Conteo de cursos | Cursos")
dicc_cont2 = {}
for i in dicc_lim:
    if dicc_lim[i] not in dicc_cont2.keys():
        dicc_cont2[dicc_lim[i]] = [int(i)]
    else:
        #dicc_cont2[dicc_lim[i]][0] += 1
        dicc_cont2[dicc_lim[i]].append(int(i))
#for i in dicc_cont2.keys():
#    print(i, dicc_cont2[i])

Capacidad de curso | Conteo de cursos | Cursos

In [194]:
#Relacionar cantidad de bloques para cada curso
##dicct
dicc_classes2 = {}
dicc_curso_duracion = {}
dicc_cd = {}
for index, row in df_relation_class_time.iterrows():
    dicc_classes2[row["ClassId"]] = round(row["TimeLength"]/9)


for i in dicc_curso_clase:
    if dicc_classes2[i] not in dicc_curso_duracion.keys():
        dicc_curso_duracion[dicc_classes2[i]] = []
    dicc_curso_duracion[dicc_classes2[i]].append(int(dicc_curso_clase[i][0]))

###########################################################################
#SERÃ USADO EN EL MODELO COMO PARÃMETRO
#Diccionario que relaciona la cantidad de bloques de horario con los cursos
for j in sorted(dicc_curso_duracion):
    dicc_curso_duracion[j] = set(dicc_curso_duracion[j])
#print(dicc_curso_duracion)
############################################################################

for z in dicc_curso_duracion:
    for w in dicc_curso_duracion[z]:
        if w not in dicc_cd.keys():
            dicc_cd[w] = []
        dicc_cd[w].append(z)
#print(dicc_cd)

In [195]:
cluster2 = {}
for i in cluster:
    cluster2[i] = set(cluster[i])
#print(cluster2)

In [196]:
#Cantidad de subpartes de un curso | horario de inicio del curso | capacidad de alumnos del curso = Cursos
print("Cantidad de subpartes de un curso | horario de inicio del curso | capacidad de alumnos del curso = Cursos")
cluster_cursos = {}
for i in cluster2:
    for j in cluster2[i]:
        c = 0
        for k in dicc_cont2:
            for z in dicc_cont2[k]:
                if int(j) == int(z):
                    c+=1
                    for w in dicc_cd[z]:
                        key = i[0],i[1],k,w
                        if key not in cluster_cursos:
                            cluster_cursos[key] = []
                        cluster_cursos[key].append(z)

#print(cluster_cursos)

Cantidad de subpartes de un curso | horario de inicio del curso | capacidad de alumnos del curso = Cursos

In [248]:
#Cantidad de subpartes de un curso | horario de inicio del curso | capacidad de alumnos del curso = Cursos
print("Cantidad de subpartes de un curso | horario de inicio del curso | capacidad de alumnos del curso = Cursos")
lista = []
c=0
for i in cluster_cursos:
    for j in cluster_cursos[i]:
        if j not in lista:
            lista.append(j)
            c+=1
#for i in cluster_cursos:
#    print(i, cluster_cursos[i])

print("Cantidad de clusters",len(cluster_cursos))
#print("Cantidad de cursos", c)
#print("Ver cursos",sorted(lista))

Cantidad de subpartes de un curso | horario de inicio del curso | capacidad de alumnos del curso = Cursos
Cantidad de clusters 996

In [200]:
#ConversiÃ³n cluster de cursos de (s,h,c) = Cursos a (Cursos) = U (s,h,c)
cluster_cursos2 = {}
for i in cluster_cursos:
    if tuple(cluster_cursos[i]) not in cluster_cursos2.keys():
        tupla = tuple(cluster_cursos[i])
        cluster_cursos2[tupla] = []
    cluster_cursos2[tuple(cluster_cursos[i])].append(list(i))
for j in cluster_cursos2:
    print(j,cluster_cursos2[j])

(19,) [[1, 1, 180, 2]]
(35, 29, 59, 134, 41, 166, 45, 57, 153) [[1, 1, 30, 2]]
(240,) [[1, 1, 30, 16]]
(1,) [[1, 1, 20, 2], [1, 2, 20, 2], [1, 4, 20, 2], [1, 5, 20, 2], [1, 6, 20, 2], [1, 7, 20, 2], [1, 8, 20, 2], [1, 9, 20, 2], [1, 10, 20, 2], [1, 11, 20, 2], [1, 12, 20, 2], [1, 13, 20, 2], [1, 14, 20, 2], [1, 15, 20, 2], [1, 16, 20, 2]]
(87, 72, 73) [[1, 1, 40, 2], [1, 2, 40, 2], [1, 3, 40, 2], [1, 4, 40, 2], [1, 5, 40, 2], [1, 6, 40, 2]]
(195,) [[1, 1, 50, 2], [1, 2, 50, 2], [1, 3, 50, 2], [1, 4, 50, 2], [1, 5, 50, 2], [1, 6, 50, 2], [1, 7, 50, 2], [1, 8, 50, 2], [1, 9, 50, 2], [1, 10, 50, 2], [1, 11, 50, 2], [1, 12, 50, 2], [1, 13, 50, 2], [1, 14, 50, 2], [1, 15, 50, 2], [1, 16, 50, 2]]
(241,) [[1, 1, 50, 8]]
(91,) [[1, 1, 60, 2]]
(35, 29, 59, 41, 166, 45, 57, 153) [[1, 2, 30, 2]]
(35, 29, 59, 134, 153, 41, 166, 45, 57, 80) [[1, 3, 30, 2]]
(1, 3) [[1, 3, 20, 2]]
(96,) [[1, 3, 60, 5]]
(35, 29, 59, 153, 41, 166, 45, 57, 80) [[1, 4, 30, 2], [1, 5, 30, 2], [1, 6, 30, 2]]
(220,) [[1, 5, 50, 3]]
(35, 29, 59, 153, 267, 80, 41, 269, 266, 45, 57) [[1, 7, 30, 2]]
(87, 73, 92) [[1, 7, 40, 2]]
(271,) [[1, 7, 60, 2]]
(17,) [[1, 7, 130, 2]]
(35, 29, 59, 153, 41, 45, 80) [[1, 8, 30, 2]]
(87, 73) [[1, 8, 40, 2], [1, 9, 40, 2], [1, 16, 40, 2]]
(35, 29, 59, 268, 41, 272, 45, 57, 153) [[1, 9, 30, 2]]
(270,) [[1, 9, 60, 2]]
(29, 59, 41, 153, 45, 57) [[1, 10, 30, 2], [1, 11, 30, 2]]
(120,) [[1, 11, 80, 2], [1, 12, 80, 2], [1, 13, 80, 2], [1, 14, 80, 2], [1, 15, 80, 2], [1, 16, 80, 2]]
(29, 41, 153, 45) [[1, 12, 30, 2], [1, 13, 30, 2], [1, 14, 30, 2], [1, 15, 30, 2]]
(29, 59, 153, 41, 166, 45, 57, 80) [[1, 16, 30, 2]]
(79, 27, 77, 52, 84, 64, 26, 25, 69, 50) [[2, 1, 20, 2], [2, 2, 20, 2], [2, 3, 20, 2], [2, 4, 20, 2], [2, 5, 20, 2], [2, 6, 20, 2], [2, 7, 20, 2], [2, 8, 20, 2], [2, 9, 20, 2], [2, 10, 20, 2], [2, 11, 20, 2], [2, 12, 20, 2], [2, 13, 20, 2], [2, 14, 20, 2], [2, 15, 20, 2], [2, 16, 20, 2]]
(101, 34, 165, 83, 162, 167, 30, 56, 150, 105, 100, 143, 70, 146, 33, 168, 55, 74, 14, 71, 147, 169, 154, 7, 58, 132, 86, 6, 156, 66, 62, 81, 89, 170, 163, 164, 75, 93, 152) [[2, 1, 30, 2]]
(101, 100, 58) [[2, 1, 30, 3], [2, 5, 30, 3]]
(48, 137, 88, 85, 44, 128, 103, 124, 135, 109, 131, 102, 133, 113, 114, 117, 121, 67, 112, 38) [[2, 1, 40, 2]]
(159, 20, 136, 127, 160, 130, 21, 158, 151, 5, 107, 149, 11, 140, 144, 125, 141, 139, 155) [[2, 1, 50, 2], [2, 2, 50, 2], [2, 3, 50, 2], [2, 4, 50, 2], [2, 5, 50, 2], [2, 6, 50, 2], [2, 7, 50, 2]]
(159, 140) [[2, 1, 50, 1], [2, 2, 50, 1], [2, 3, 50, 1], [2, 4, 50, 1], [2, 5, 50, 1], [2, 6, 50, 1], [2, 7, 50, 1], [2, 8, 50, 1], [2, 9, 50, 1], [2, 10, 50, 1], [2, 11, 50, 1], [2, 12, 50, 1], [2, 16, 50, 1]]
(4, 16, 46, 22, 49, 43, 118, 10, 23) [[2, 1, 60, 2], [2, 3, 60, 2]]
(175,) [[2, 1, 130, 3], [2, 2, 130, 3], [2, 3, 130, 3], [2, 4, 130, 3], [2, 5, 130, 3], [2, 6, 130, 3], [2, 7, 130, 3], [2, 8, 130, 3], [2, 9, 130, 3], [2, 10, 130, 3], [2, 11, 130, 3], [2, 12, 130, 3], [2, 13, 130, 3], [2, 14, 130, 3], [2, 15, 130, 3]]
(113,) [[2, 1, 40, 3], [2, 3, 40, 3], [2, 5, 40, 3], [2, 8, 40, 3]]
(104, 115) [[2, 1, 80, 2], [2, 9, 80, 2]]
(169,) [[2, 1, 30, 1], [2, 2, 30, 1], [2, 3, 30, 1], [2, 4, 30, 1], [2, 5, 30, 1], [2, 6, 30, 1], [2, 7, 30, 1], [2, 8, 30, 1], [2, 9, 30, 1], [2, 10, 30, 1], [2, 11, 30, 1], [2, 12, 30, 1], [2, 16, 30, 1], [2, 17, 30, 2], [2, 17, 30, 1]]
(260,) [[2, 1, 50, 13]]
(261,) [[2, 1, 50, 16]]
(34, 165, 83, 162, 167, 161, 30, 56, 150, 105, 100, 143, 70, 146, 33, 168, 55, 74, 14, 147, 71, 169, 154, 7, 58, 132, 86, 6, 156, 66, 62, 81, 89, 170, 163, 164, 75, 152) [[2, 2, 30, 2]]
(48, 137, 88, 85, 44, 128, 103, 124, 135, 109, 131, 102, 133, 114, 117, 121, 67, 142, 38) [[2, 2, 40, 2]]
(4, 46, 22, 49, 43, 118, 10, 23) [[2, 2, 60, 2]]
(100, 58) [[2, 2, 30, 3], [2, 3, 30, 3], [2, 4, 30, 3], [2, 6, 30, 3], [2, 7, 30, 3], [2, 8, 30, 3], [2, 12, 30, 3]]
(104,) [[2, 2, 80, 2], [2, 3, 80, 2], [2, 4, 80, 2], [2, 5, 80, 2], [2, 6, 80, 2], [2, 7, 80, 2], [2, 8, 80, 2], [2, 10, 80, 2], [2, 11, 80, 2], [2, 12, 80, 2], [2, 13, 80, 2], [2, 14, 80, 2], [2, 15, 80, 2], [2, 16, 80, 2]]
(34, 165, 83, 162, 167, 161, 30, 56, 150, 105, 100, 143, 70, 146, 33, 168, 55, 74, 14, 71, 147, 169, 154, 7, 58, 132, 86, 6, 156, 66, 62, 81, 89, 170, 163, 164, 36, 75, 93, 152, 61) [[2, 3, 30, 2]]
(48, 137, 88, 85, 44, 128, 103, 124, 135, 109, 131, 102, 133, 113, 53, 114, 117, 119, 121, 67, 142, 112, 60, 38) [[2, 3, 40, 2]]
(34, 165, 83, 162, 167, 161, 51, 30, 56, 150, 105, 100, 143, 70, 146, 33, 168, 55, 74, 14, 71, 147, 169, 28, 154, 7, 58, 132, 86, 6, 156, 66, 62, 81, 78, 89, 170, 163, 164, 65, 36, 75, 152, 61) [[2, 4, 30, 2]]
(48, 137, 88, 85, 44, 128, 103, 124, 135, 109, 131, 102, 133, 53, 114, 117, 119, 121, 67, 142, 60, 265, 38) [[2, 4, 40, 2]]
(4, 46, 22, 49, 43, 118, 39, 10, 23) [[2, 4, 60, 2], [2, 6, 60, 2], [2, 7, 60, 2], [2, 8, 60, 2], [2, 9, 60, 2], [2, 10, 60, 2], [2, 11, 60, 2], [2, 12, 60, 2]]
(101, 34, 165, 83, 162, 167, 161, 51, 30, 56, 150, 105, 100, 143, 70, 146, 33, 168, 55, 74, 14, 71, 147, 169, 98, 28, 154, 7, 58, 132, 86, 6, 156, 66, 62, 81, 78, 89, 170, 163, 164, 65, 36, 75, 152, 61) [[2, 5, 30, 2]]
(48, 137, 88, 85, 44, 128, 103, 124, 135, 109, 131, 102, 133, 113, 53, 114, 117, 119, 121, 67, 142, 60, 38) [[2, 5, 40, 2], [2, 8, 40, 2]]
(4, 16, 46, 22, 49, 43, 118, 39, 10, 23) [[2, 5, 60, 2]]
(34, 165, 83, 162, 167, 161, 51, 30, 56, 150, 105, 100, 143, 70, 146, 33, 168, 55, 74, 14, 71, 147, 169, 98, 28, 154, 7, 58, 132, 86, 6, 156, 66, 62, 81, 78, 89, 170, 163, 164, 65, 36, 75, 152, 61) [[2, 6, 30, 2]]
(48, 137, 88, 85, 44, 128, 103, 124, 135, 109, 131, 102, 133, 53, 114, 117, 119, 121, 67, 142, 60, 38) [[2, 6, 40, 2]]
(34, 165, 83, 162, 167, 161, 51, 30, 56, 150, 105, 100, 143, 70, 146, 33, 168, 55, 14, 71, 147, 169, 28, 154, 7, 58, 132, 86, 6, 156, 66, 62, 81, 78, 89, 170, 163, 164, 65, 36, 75, 152, 61) [[2, 7, 30, 2], [2, 8, 30, 2]]
(48, 137, 88, 85, 44, 128, 103, 124, 135, 109, 131, 102, 133, 53, 114, 117, 119, 121, 67, 142, 112, 60, 38) [[2, 7, 40, 2]]
(123,) [[2, 7, 40, 1], [2, 8, 40, 1]]
(159, 20, 136, 127, 160, 130, 158, 151, 5, 107, 149, 11, 140, 144, 125, 141, 139, 155, 94) [[2, 8, 50, 2]]
(34, 165, 83, 162, 167, 161, 51, 30, 56, 150, 105, 100, 143, 70, 146, 33, 168, 55, 14, 71, 147, 169, 28, 154, 7, 132, 86, 6, 156, 66, 62, 81, 78, 89, 170, 163, 164, 65, 36, 75, 152, 61) [[2, 9, 30, 2]]
(48, 137, 88, 85, 44, 128, 103, 124, 135, 109, 131, 102, 133, 53, 114, 117, 119, 67, 142, 112, 60, 38) [[2, 9, 40, 2]]
(159, 20, 127, 160, 130, 158, 151, 5, 107, 149, 11, 140, 144, 125, 141, 139, 155, 94) [[2, 9, 50, 2], [2, 11, 50, 2]]
(100,) [[2, 9, 30, 3], [2, 11, 30, 3], [2, 13, 30, 3], [2, 14, 30, 3], [2, 15, 30, 3]]
(101, 34, 165, 162, 167, 161, 51, 30, 56, 150, 105, 100, 143, 70, 146, 168, 55, 14, 71, 147, 169, 98, 28, 154, 7, 132, 86, 6, 156, 66, 62, 81, 78, 89, 170, 163, 164, 65, 36, 75, 152) [[2, 10, 30, 2]]
(101, 100) [[2, 10, 30, 3]]
(48, 137, 88, 85, 44, 128, 103, 124, 135, 109, 131, 102, 133, 53, 114, 117, 119, 67, 142, 60, 265, 38) [[2, 10, 40, 2]]
(159, 20, 127, 160, 130, 158, 151, 5, 107, 149, 11, 140, 144, 125, 141, 139, 155) [[2, 10, 50, 2]]
(129, 42) [[2, 11, 60, 4]]
(13, 111, 110) [[2, 11, 120, 4]]
(34, 165, 162, 167, 161, 51, 30, 56, 150, 105, 100, 143, 70, 146, 168, 55, 14, 71, 147, 169, 28, 154, 7, 132, 86, 6, 156, 66, 62, 81, 78, 89, 170, 163, 164, 65, 36, 75, 152) [[2, 11, 30, 2]]
(48, 137, 88, 85, 44, 128, 103, 124, 135, 109, 131, 102, 133, 53, 114, 117, 119, 67, 142, 60, 38) [[2, 11, 40, 2]]
(82, 148, 54, 31, 68) [[2, 11, 30, 4]]
(12,) [[2, 11, 130, 4]]
(34, 165, 162, 167, 161, 51, 30, 56, 150, 105, 100, 143, 70, 146, 168, 55, 14, 147, 71, 169, 98, 28, 154, 58, 132, 86, 6, 156, 66, 62, 81, 78, 89, 170, 163, 164, 65, 75, 152) [[2, 12, 30, 2]]
(48, 137, 88, 85, 128, 103, 124, 135, 109, 131, 102, 133, 53, 117, 119, 67, 142, 60, 38) [[2, 12, 40, 2], [2, 14, 40, 2], [2, 15, 40, 2]]
(159, 20, 127, 160, 130, 21, 158, 151, 5, 107, 149, 11, 140, 144, 125, 141, 139, 155) [[2, 12, 50, 2]]
(34, 165, 162, 167, 161, 51, 30, 56, 150, 105, 100, 143, 70, 146, 168, 55, 14, 147, 71, 28, 154, 132, 86, 6, 156, 66, 62, 81, 78, 89, 170, 163, 65, 75, 152) [[2, 13, 30, 2], [2, 14, 30, 2], [2, 15, 30, 2]]
(48, 137, 88, 85, 128, 103, 124, 135, 109, 131, 102, 133, 53, 117, 119, 67, 142, 60, 265, 38) [[2, 13, 40, 2]]
(20, 127, 160, 158, 151, 5, 107, 11, 144, 125, 141, 139, 155) [[2, 13, 50, 2], [2, 14, 50, 2], [2, 15, 50, 2]]
(4, 46, 22, 49, 118, 39, 10, 23) [[2, 13, 60, 2], [2, 14, 60, 2], [2, 15, 60, 2], [2, 16, 60, 2]]
(34, 165, 83, 162, 167, 161, 51, 30, 56, 150, 105, 143, 70, 146, 168, 55, 14, 147, 71, 169, 28, 154, 7, 58, 132, 86, 6, 156, 66, 62, 81, 78, 89, 170, 163, 65, 75, 152, 61) [[2, 16, 30, 2]]
(48, 137, 88, 85, 44, 128, 103, 124, 135, 109, 131, 102, 133, 53, 117, 119, 67, 142, 60, 38) [[2, 16, 40, 2]]
(159, 20, 127, 160, 21, 158, 151, 5, 107, 11, 140, 144, 125, 141, 139, 155) [[2, 16, 50, 2]]
(58,) [[2, 16, 30, 3]]
(140, 159) [[2, 17, 50, 2], [2, 17, 50, 1]]
(40, 99) [[3, 3, 50, 2], [3, 4, 50, 2], [3, 5, 50, 2], [3, 6, 50, 2], [3, 7, 50, 2], [3, 16, 50, 2], [3, 1, 50, 2], [3, 2, 50, 2], [3, 8, 50, 2], [3, 9, 50, 2], [3, 10, 50, 2], [3, 11, 50, 2], [3, 12, 50, 2], [3, 13, 50, 2], [3, 14, 50, 2], [3, 15, 50, 2]]
(18, 122, 108, 8, 157, 9, 116, 15, 138, 106) [[3, 3, 30, 2], [3, 4, 30, 2], [3, 5, 30, 2], [3, 16, 30, 2], [3, 2, 30, 2], [3, 11, 30, 2], [3, 12, 30, 2], [3, 13, 30, 2], [3, 14, 30, 2], [3, 15, 30, 2]]
(116, 106) [[3, 3, 30, 3], [3, 4, 30, 3], [3, 5, 30, 3], [3, 16, 30, 3], [3, 2, 30, 3], [3, 11, 30, 3], [3, 12, 30, 3], [3, 13, 30, 3], [3, 14, 30, 3], [3, 15, 30, 3]]
(190,) [[3, 3, 50, 3], [3, 4, 50, 3], [3, 5, 50, 3], [3, 6, 50, 3], [3, 7, 50, 3], [3, 1, 50, 3], [3, 2, 50, 3], [3, 8, 50, 3], [3, 9, 50, 3], [3, 10, 50, 3], [3, 11, 50, 3], [3, 12, 50, 3], [3, 13, 50, 3], [3, 14, 50, 3], [3, 15, 50, 3]]
(24,) [[3, 4, 50, 1], [3, 5, 50, 1], [3, 6, 50, 1]]
(264, 18, 122, 108, 8, 157, 9, 116, 15, 138, 106) [[3, 6, 30, 2], [3, 7, 30, 2], [3, 1, 30, 2], [3, 8, 30, 2], [3, 9, 30, 2], [3, 10, 30, 2]]
(264, 116, 106) [[3, 6, 30, 3], [3, 7, 30, 3], [3, 1, 30, 3], [3, 8, 30, 3], [3, 9, 30, 3], [3, 10, 30, 3]]
(251, 238) [[4, 3, 30, 2], [4, 5, 30, 2], [4, 7, 30, 2]]
(126, 145) [[4, 3, 20, 2], [4, 4, 20, 2], [4, 5, 20, 2], [4, 6, 20, 2], [4, 7, 20, 2], [4, 16, 20, 2], [4, 1, 20, 2], [4, 2, 20, 2]]
(238,) [[4, 3, 30, 3], [4, 4, 30, 2], [4, 4, 30, 3], [4, 5, 30, 3], [4, 6, 30, 2], [4, 6, 30, 3], [4, 7, 30, 3], [4, 16, 30, 2], [4, 16, 30, 3], [4, 1, 30, 2], [4, 1, 30, 3], [4, 2, 30, 2], [4, 2, 30, 3], [4, 8, 30, 2], [4, 8, 30, 3], [4, 9, 30, 3], [4, 10, 30, 2], [4, 10, 30, 3], [4, 11, 30, 3], [4, 12, 30, 2], [4, 12, 30, 3], [4, 13, 30, 2], [4, 13, 30, 3], [4, 14, 30, 2], [4, 14, 30, 3], [4, 15, 30, 2], [4, 15, 30, 3]]
(145,) [[4, 8, 20, 2]]
(238, 251) [[4, 9, 30, 2], [4, 11, 30, 2]]
(235, 232) [[5, 7, 50, 2], [5, 8, 50, 2], [5, 9, 50, 2], [5, 10, 50, 2], [5, 11, 50, 2], [5, 16, 50, 2], [5, 1, 50, 2], [5, 2, 50, 2], [5, 3, 50, 2], [5, 4, 50, 2], [5, 5, 50, 2], [5, 6, 50, 2]]
(47,) [[5, 7, 60, 2], [5, 8, 60, 2], [5, 9, 60, 2], [5, 10, 60, 2], [5, 11, 60, 2], [5, 16, 60, 2], [5, 1, 60, 2], [5, 2, 60, 2], [5, 3, 60, 2], [5, 4, 60, 2], [5, 5, 60, 2], [5, 6, 60, 2]]
(32, 37, 63, 76, 90) [[5, 7, 30, 2], [5, 8, 30, 2], [5, 9, 30, 2], [5, 10, 30, 2], [5, 11, 30, 2], [5, 16, 30, 2]]
(32,) [[5, 7, 30, 3], [5, 8, 30, 3], [5, 9, 30, 3], [5, 10, 30, 3], [5, 11, 30, 3], [5, 12, 30, 2], [5, 12, 30, 3], [5, 13, 30, 2], [5, 13, 30, 3], [5, 14, 30, 2], [5, 14, 30, 3], [5, 15, 30, 2], [5, 15, 30, 3], [5, 16, 30, 3]]
(173,) [[5, 7, 40, 2], [5, 7, 40, 3], [5, 8, 40, 2], [5, 8, 40, 3], [5, 9, 40, 2], [5, 9, 40, 3], [5, 10, 40, 2], [5, 10, 40, 3], [5, 11, 40, 2], [5, 11, 40, 3], [5, 12, 40, 2], [5, 12, 40, 3], [5, 13, 40, 2], [5, 13, 40, 3], [5, 14, 40, 2], [5, 14, 40, 3], [5, 15, 40, 2], [5, 15, 40, 3], [5, 16, 40, 2], [5, 16, 40, 3], [5, 1, 40, 2], [5, 1, 40, 3], [5, 2, 40, 2], [5, 2, 40, 3], [5, 3, 40, 2], [5, 3, 40, 3], [5, 4, 40, 2], [5, 4, 40, 3], [5, 5, 40, 2], [5, 5, 40, 3], [5, 6, 40, 2], [5, 6, 40, 3]]
(232, 235) [[5, 12, 50, 2], [5, 13, 50, 2], [5, 14, 50, 2], [5, 15, 50, 2]]
(37, 63, 76, 90) [[5, 1, 30, 2], [5, 2, 30, 2], [5, 3, 30, 2], [5, 4, 30, 2], [5, 5, 30, 2], [5, 6, 30, 2]]
(214, 212, 218, 208, 210, 205, 204, 203, 213) [[6, 1, 30, 3], [6, 5, 30, 3], [6, 2, 30, 3], [6, 3, 30, 3], [6, 4, 30, 3], [6, 6, 30, 3], [6, 7, 30, 3], [6, 8, 30, 3], [6, 9, 30, 3], [6, 10, 30, 3], [6, 11, 30, 3], [6, 12, 30, 3], [6, 13, 30, 3], [6, 14, 30, 3], [6, 15, 30, 3]]
(2,) [[6, 1, 20, 2], [6, 1, 20, 16], [6, 1, 20, 11], [6, 5, 20, 2], [6, 5, 20, 16], [6, 5, 20, 11]]
(231,) [[6, 1, 40, 3], [6, 5, 40, 3], [6, 2, 40, 3], [6, 3, 40, 3], [6, 4, 40, 3], [6, 6, 40, 3], [6, 7, 40, 3]]
(257, 256) [[6, 1, 40, 10], [6, 3, 40, 10]]
(257,) [[6, 1, 40, 14], [6, 3, 40, 14]]
(199,) [[6, 1, 130, 3], [6, 5, 130, 3], [6, 2, 130, 3], [6, 3, 130, 3], [6, 4, 130, 3], [6, 6, 130, 3], [6, 7, 130, 3], [6, 8, 130, 3], [6, 9, 130, 3], [6, 10, 130, 3], [6, 11, 130, 3], [6, 12, 130, 3], [6, 13, 130, 3], [6, 14, 130, 3], [6, 15, 130, 3]]
(258,) [[6, 1, 50, 13]]
(256,) [[6, 1, 40, 11], [6, 3, 40, 11]]
(259,) [[6, 1, 50, 16]]
(245, 248, 247) [[7, 2, 30, 2], [7, 2, 30, 3], [7, 4, 30, 2], [7, 4, 30, 3], [7, 6, 30, 2], [7, 6, 30, 3], [7, 8, 30, 2], [7, 8, 30, 3], [7, 10, 30, 2], [7, 10, 30, 3], [7, 11, 30, 3], [7, 16, 30, 2], [7, 16, 30, 3], [7, 1, 30, 2], [7, 1, 30, 3], [7, 12, 30, 2], [7, 12, 30, 3], [7, 13, 30, 2], [7, 13, 30, 3], [7, 14, 30, 2], [7, 14, 30, 3], [7, 15, 30, 2], [7, 15, 30, 3]]
(247, 252, 248, 253, 245) [[7, 3, 30, 2], [7, 5, 30, 2], [7, 7, 30, 2], [7, 9, 30, 2]]
(247, 248, 245) [[7, 3, 30, 3], [7, 5, 30, 3], [7, 7, 30, 3], [7, 9, 30, 3]]
(263, 262) [[7, 3, 70, 11], [7, 3, 70, 9]]
(263,) [[7, 3, 70, 8]]
(262,) [[7, 3, 70, 2], [7, 4, 70, 2], [7, 4, 70, 11], [7, 4, 70, 9]]
(245, 248, 247, 253) [[7, 11, 30, 2]]
(191,) [[8, 1, 30, 2], [8, 1, 30, 3], [8, 2, 30, 2], [8, 2, 30, 3], [8, 3, 30, 2], [8, 3, 30, 3], [8, 4, 30, 2], [8, 4, 30, 3], [8, 5, 30, 3], [8, 6, 30, 2], [8, 6, 30, 3], [8, 7, 30, 3], [8, 8, 30, 2], [8, 8, 30, 3], [8, 9, 30, 3], [8, 10, 30, 2], [8, 10, 30, 3], [8, 11, 30, 3], [8, 12, 30, 2], [8, 12, 30, 3], [8, 13, 30, 2], [8, 13, 30, 3], [8, 14, 30, 2], [8, 14, 30, 3], [8, 15, 30, 2], [8, 15, 30, 3], [8, 16, 30, 2], [8, 16, 30, 3]]
(236,) [[8, 1, 40, 2], [8, 1, 40, 3], [8, 2, 40, 2], [8, 2, 40, 3], [8, 3, 40, 2], [8, 3, 40, 3], [8, 4, 40, 2], [8, 4, 40, 3], [8, 5, 40, 2], [8, 5, 40, 3], [8, 6, 40, 2], [8, 6, 40, 3], [8, 7, 40, 2], [8, 7, 40, 3], [8, 8, 40, 2], [8, 8, 40, 3], [8, 9, 40, 2], [8, 9, 40, 3], [8, 10, 40, 2], [8, 10, 40, 3], [8, 11, 40, 2], [8, 11, 40, 3], [8, 12, 40, 2], [8, 12, 40, 3], [8, 13, 40, 2], [8, 13, 40, 3], [8, 14, 40, 2], [8, 14, 40, 3], [8, 15, 40, 2], [8, 15, 40, 3], [8, 16, 40, 2], [8, 16, 40, 3]]
(191, 255) [[8, 5, 30, 2], [8, 7, 30, 2], [8, 9, 30, 2], [8, 11, 30, 2]]
(188, 185, 193, 198, 181, 176) [[9, 7, 40, 3], [9, 1, 40, 3], [9, 2, 40, 3], [9, 3, 40, 3], [9, 4, 40, 3], [9, 5, 40, 3], [9, 6, 40, 3], [9, 8, 40, 3], [9, 9, 40, 3], [9, 10, 40, 3], [9, 11, 40, 3], [9, 12, 40, 3], [9, 13, 40, 3], [9, 14, 40, 3], [9, 15, 40, 3]]
(230, 221, 223, 237, 254) [[9, 7, 30, 2], [9, 3, 30, 2], [9, 5, 30, 2], [9, 9, 30, 2], [9, 11, 30, 2]]
(177,) [[9, 7, 130, 3], [9, 1, 130, 3], [9, 2, 130, 3], [9, 3, 130, 3], [9, 4, 130, 3], [9, 5, 130, 3], [9, 6, 130, 3], [9, 8, 130, 3], [9, 9, 130, 3], [9, 10, 130, 3], [9, 11, 130, 3], [9, 12, 130, 3], [9, 13, 130, 3], [9, 14, 130, 3], [9, 15, 130, 3]]
(184, 172, 200, 171, 197) [[9, 7, 80, 3], [9, 1, 80, 3], [9, 2, 80, 3], [9, 3, 80, 3], [9, 4, 80, 3], [9, 5, 80, 3], [9, 6, 80, 3], [9, 8, 80, 3], [9, 9, 80, 3], [9, 10, 80, 3], [9, 11, 80, 3], [9, 12, 80, 3], [9, 13, 80, 3], [9, 14, 80, 3], [9, 15, 80, 3]]
(183, 201) [[9, 7, 60, 3], [9, 2, 60, 3], [9, 3, 60, 3], [9, 5, 60, 3], [9, 6, 60, 3], [9, 8, 60, 3], [9, 9, 60, 3], [9, 10, 60, 3], [9, 11, 60, 3], [9, 12, 60, 3], [9, 13, 60, 3], [9, 14, 60, 3], [9, 15, 60, 3]]
(209, 216) [[9, 7, 30, 3], [9, 1, 30, 3], [9, 2, 30, 3], [9, 3, 30, 3], [9, 4, 30, 3], [9, 5, 30, 3], [9, 6, 30, 3], [9, 8, 30, 3], [9, 9, 30, 3], [9, 10, 30, 3], [9, 11, 30, 3], [9, 12, 30, 3], [9, 13, 30, 3], [9, 14, 30, 3], [9, 15, 30, 3]]
(186,) [[9, 1, 50, 3]]
(230, 221, 223, 237) [[9, 1, 30, 2], [9, 2, 30, 2], [9, 4, 30, 2], [9, 6, 30, 2], [9, 8, 30, 2], [9, 10, 30, 2], [9, 12, 30, 2], [9, 13, 30, 2], [9, 14, 30, 2], [9, 15, 30, 2]]
(183, 201, 187) [[9, 1, 60, 3], [9, 4, 60, 3]]
(237, 221, 230, 223) [[9, 16, 30, 2]]
(227,) [[10, 1, 40, 2], [10, 1, 40, 3], [10, 2, 40, 2], [10, 2, 40, 3], [10, 3, 40, 2], [10, 3, 40, 3], [10, 4, 40, 2], [10, 4, 40, 3], [10, 5, 40, 2], [10, 5, 40, 3], [10, 6, 40, 2], [10, 6, 40, 3], [10, 7, 40, 2], [10, 7, 40, 3], [10, 8, 40, 2], [10, 8, 40, 3], [10, 9, 40, 2], [10, 9, 40, 3], [10, 10, 40, 2], [10, 10, 40, 3], [10, 11, 40, 2], [10, 11, 40, 3], [10, 12, 40, 2], [10, 12, 40, 3], [10, 13, 40, 2], [10, 13, 40, 3], [10, 14, 40, 2], [10, 14, 40, 3], [10, 15, 40, 2], [10, 15, 40, 3], [10, 16, 40, 2], [10, 16, 40, 3]]
(242, 243, 224, 249, 246, 239) [[10, 1, 30, 2], [10, 1, 30, 3], [10, 2, 30, 2], [10, 2, 30, 3], [10, 3, 30, 2], [10, 3, 30, 3], [10, 4, 30, 2], [10, 4, 30, 3], [10, 5, 30, 2], [10, 5, 30, 3], [10, 6, 30, 2], [10, 6, 30, 3], [10, 7, 30, 2], [10, 7, 30, 3], [10, 8, 30, 2], [10, 8, 30, 3], [10, 9, 30, 2], [10, 9, 30, 3], [10, 10, 30, 2], [10, 10, 30, 3], [10, 11, 30, 2], [10, 11, 30, 3], [10, 12, 30, 2], [10, 12, 30, 3], [10, 13, 30, 2], [10, 13, 30, 3], [10, 14, 30, 2], [10, 14, 30, 3], [10, 15, 30, 2], [10, 15, 30, 3], [10, 16, 30, 2], [10, 16, 30, 3]]
(225, 233) [[11, 1, 40, 2], [11, 5, 40, 2], [11, 9, 40, 2], [11, 10, 40, 2], [11, 4, 40, 2], [11, 7, 40, 2], [11, 6, 40, 2], [11, 2, 40, 2], [11, 3, 40, 2], [11, 8, 40, 2], [11, 11, 40, 2], [11, 12, 40, 2], [11, 13, 40, 2], [11, 14, 40, 2], [11, 15, 40, 2], [11, 16, 40, 2]]
(178,) [[11, 1, 30, 3], [11, 5, 30, 3], [11, 9, 30, 3], [11, 10, 30, 3], [11, 4, 30, 3], [11, 7, 30, 3], [11, 6, 30, 3], [11, 2, 30, 3], [11, 3, 30, 3], [11, 8, 30, 3], [11, 11, 30, 3], [11, 12, 30, 3], [11, 13, 30, 3], [11, 14, 30, 3], [11, 15, 30, 3]]
(233,) [[11, 1, 40, 3], [11, 5, 40, 3], [11, 9, 40, 3], [11, 10, 40, 3], [11, 4, 40, 3], [11, 7, 40, 3], [11, 6, 40, 3], [11, 2, 40, 3], [11, 3, 40, 3], [11, 8, 40, 3], [11, 11, 40, 3], [11, 12, 40, 3], [11, 13, 40, 3], [11, 14, 40, 3], [11, 15, 40, 3], [11, 16, 40, 3]]
(228,) [[12, 1, 20, 2], [12, 2, 20, 2], [12, 3, 20, 2], [12, 4, 20, 2], [12, 5, 20, 2], [12, 6, 20, 2], [12, 7, 20, 2], [12, 8, 20, 2], [12, 9, 20, 2], [12, 10, 20, 2], [12, 11, 20, 2], [12, 12, 20, 2], [12, 13, 20, 2], [12, 14, 20, 2], [12, 15, 20, 2], [12, 16, 20, 2], [12, 16, 20, 3]]
(228, 207, 211, 180) [[12, 1, 20, 3], [12, 2, 20, 3], [12, 3, 20, 3], [12, 4, 20, 3], [12, 5, 20, 3], [12, 6, 20, 3], [12, 7, 20, 3], [12, 8, 20, 3], [12, 9, 20, 3], [12, 10, 20, 3], [12, 11, 20, 3], [12, 12, 20, 3], [12, 13, 20, 3], [12, 14, 20, 3], [12, 15, 20, 3]]
(202, 234, 244, 179, 194, 219) [[12, 1, 30, 3], [12, 2, 30, 3], [12, 3, 30, 3], [12, 4, 30, 3], [12, 5, 30, 3], [12, 6, 30, 3], [12, 7, 30, 3], [12, 8, 30, 3], [12, 9, 30, 3], [12, 10, 30, 3], [12, 11, 30, 3], [12, 12, 30, 3], [12, 13, 30, 3], [12, 14, 30, 3], [12, 15, 30, 3]]
(226,) [[12, 1, 30, 2], [12, 2, 30, 2], [12, 3, 30, 2], [12, 4, 30, 2], [12, 5, 30, 2], [12, 6, 30, 2], [12, 7, 30, 2], [12, 8, 30, 2], [12, 9, 30, 2], [12, 10, 30, 2], [12, 11, 30, 2], [12, 12, 30, 2], [12, 13, 30, 2], [12, 14, 30, 2], [12, 15, 30, 2], [12, 16, 30, 2]]
(229,) [[12, 1, 40, 3], [12, 2, 40, 3], [12, 3, 40, 3], [12, 4, 40, 3], [12, 5, 40, 3], [12, 6, 40, 3], [12, 7, 40, 3], [12, 8, 40, 3], [12, 9, 40, 3], [12, 10, 40, 3], [12, 11, 40, 3], [12, 12, 40, 3], [12, 13, 40, 3], [12, 14, 40, 3], [12, 15, 40, 3]]
(97,) [[13, 13, 180, 2], [13, 13, 180, 3], [13, 7, 180, 2], [13, 7, 180, 3], [13, 1, 180, 2], [13, 1, 180, 3]]

In [9]:
## Conteo de las salas mas utilizadas

dicc_conteo_clases_sala = {}
for index, row in df_relation_class_room.iterrows():
    if row["RoomId"] not in dicc_conteo_clases_sala.keys():
        dicc_conteo_clases_sala[row["RoomId"]] = 1
    else:
        dicc_conteo_clases_sala[row["RoomId"]] += 1
#print(dicc_conteo_clases_sala)
#print(len(dicc_conteo_clases_sala.keys()))
#{k: v for k, v in sorted(dicc_conteo_clases_sala.items(), key=lambda item: item[1])}
print("Sala | Cantidad de salas que la solicitan")
for i in dicc_conteo_clases_sala.keys():
    print(i, dicc_conteo_clases_sala[i])

Sala | Cantidad de salas que la solicitan
43 41
29 669
19 651
38 654
18 397
36 397
40 744
41 744
28 518
32 293
10 41
23 753
24 766
42 46
34 605
25 329
21 11
22 559
37 574
20 420
31 610
30 589
9 27
17 30
14 578
2 27
26 46
13 376
39 15
6 7
12 2
27 37
8 6
7 2
33 26
11 250
4 247
5 242
1 4
3 15
35 5
16 11
15 12
44 1

In [14]:
## Conteo de distribuciones required y soft por tipo

dicc_distr_req = {}
for index, row in df_distributions.iterrows():
    if row["DistributionRequired"] == "true":
        if row["DistributionType"] not in dicc_distr_req.keys():
            dicc_distr_req[row["DistributionType"]] = 1
        else:
            dicc_distr_req[row["DistributionType"]] += 1
print("Distribuciones duras | Cantidad")
for i in dicc_distr_req.keys():
    print(i, dicc_distr_req[i])

dicc_distr_soft = {}
for index, row in df_distributions.iterrows():
    if row["DistributionRequired"] == None:
        if row["DistributionType"] not in dicc_distr_soft.keys():
            dicc_distr_soft[row["DistributionType"]] = 1
        else:
            dicc_distr_soft[row["DistributionType"]] += 1
print("Distribuciones blandas | Cantidad")
for i in dicc_distr_soft.keys():
    print(i, dicc_distr_soft[i])

Distribuciones duras | Cantidad
SameAttendees 1124
SameDays 448
SameRoom 155
WorkDay(40) 73
WorkDay(80) 2
NotOverlap 2
SameTime 189
Precedence 31
WorkDay(60) 145
WorkDay(50) 22
WorkDay(70) 4
WorkDay(90) 4
DifferentDays 3
Distribuciones blandas | Cantidad
SameDays 71
WorkDay(30) 1
SameRoom 17
WorkDay(40) 2
WorkDay(100) 2
WorkDay(80) 1
WorkDay(60) 34
NotOverlap 4
SameTime 11
WorkDay(90) 14
Precedence 324
DifferentDays 1
WorkDay(668) 1
MaxBreaks(0,6) 2
MaxDays(2) 3

In [40]:
##################### GUROBI #######################

In [253]:
dicc_cluster = {}
dicc_salas = {}
dicc_qnz = {}
dicc_qs = {}
dicc_lc = {}
dicc_tp = {}
for i, j in enumerate(cluster_cursos):
    dicc_cluster[i] = cluster_cursos[j]
#print(dicc_cluster)
#print(dicc_bloques)

for i in dic_salas:
    dicc_salas[i] = dic_salas[i][1]
    dicc_qnz[i] = dic_salas[i][0]
    if i == "XS":
        dicc_qs[i] = 29
    elif i == "S":
        dicc_qs[i] = 30
    elif i == "M":
        dicc_qs[i] = 90
    elif i == "L":
        dicc_qs[i] = 240
    
#print(dicc_salas)
#print(dicc_qnz)
#print(dicc_qs)

#dicc_qc
dicc_qc = {}
for e,i in enumerate(cluster_cursos):
    subparte = list(i)[0]
    capacidad = list(i)[2]
    tiempo = list(i)[3]
    dicc_qc[e] = subparte
    dicc_lc[e] = capacidad
    dicc_tp[e] = tiempo
    
#print(dicc_qc)
#print(dicc_lc)
#print(dicc_tp)

In [267]:
from gurobipy import *
from random   import *
import numpy as np
import gurobipy as gp
from gurobipy import GRB

In [307]:
timetabling = gp.Model("Asignacion de cursos a horarios y salas")

#indices por variable
# x: (cluster,config,bloque)
# w: (cluster,curso)
# c: (config,bloque,patron)


#diccionario cluster {id cluster: cursos dentro}
# config {id curso: }
# conjuntos/subconjuntos
########################
C = dicc_cluster
B = dicc_bloques
Z = dicc_salas
D = {1:"Lunes", 2: "Martes", 3: "Miercoles", 4: "Jueves", 5: "Viernes", 6: "Sabado", 7: "Domingo"}


# parÃ¡metros
dicc_dias = {1:"Lunes", 2: "Martes", 3: "Miercoles", 4: "Jueves", 5: "Viernes", 6: "Sabado", 7: "Domingo"}
Q_c = dicc_qc 
M = 100000000000
QN_zp = dicc_qnz
QS_z = dicc_qs
L_c = dicc_lc
h_c = 300
TP_c = dicc_tp  

## variables

x = {}
for c in dicc_cluster.keys():
    for d in dicc_dias.keys():
        for b in dicc_bloques.keys():
            x[c,d,b] = timetabling.addVar(vtype=gp.GRB.BINARY,name='x_'+str(c)+''+str(d)+''+str(b))
y = {}
for c in dicc_cluster.keys():
    for z in dicc_salas.keys():
        y[c,z] = timetabling.addVar(vtype=gp.GRB.BINARY,name='y_'+str(c)+''+str(z))


#FunciÃ³n Objetivo
N= 1 # ???:c
timetabling.setObjective(N,GRB.MINIMIZE)

#Restricciones



#timetabling.addConstrs(((gp.quicksum(y[c,z] for z in Z) >= 1) for c in C), name = "R1")
#timetabling.addConstrs(((gp.quicksum(gp.quicksum(x[c,d,b] for b in B) for d in D) == Q_c[c]) for c in C), name = "R2")
#timetabling.addConstrs((x[c,d,b] == y[c,z] for b in B for d in D for c in C for z in Z), name = "R3")
#timetabling.addConstrs(((y[c,z]*QS_z[z] <= x[c,d,b]*L_c[c]) for b in B for d in D for c in C for z in Z), name = "R4") 
#timetabling.addConstrs(((h_c + QS_z[z]*y[c,z] >= x[c,d,b]*L_c[c]) for b in B for d in D for c in C for z in Z), name = "R5")
#timetabling.addConstrs(((gp.quicksum(x[c,d,b] for b in B) == TP_c[c]) for d in D for c in C), name = "R6")
#timetabling.addConstr((gp.quicksum(x[c,d,b] for b in range(TP_c[c]) == (gp.quicksum(x[c,d,b] for b in range(TP_c[c]) for d in D for c in C), name = "R7")

timetabling.optimize()

Gurobi Optimizer version 9.0.3 build v9.0.3rc0 (win64)
Optimize a model with 0 rows, 122508 columns and 0 nonzeros
Model fingerprint: 0xb6246787
Variable types: 0 continuous, 122508 integer (122508 binary)
Coefficient statistics:
  Matrix range     [0e+00, 0e+00]
  Objective range  [0e+00, 0e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [0e+00, 0e+00]
Found heuristic solution: objective 1.0000000

Explored 0 nodes (0 simplex iterations) in 0.03 seconds
Thread count was 1 (of 8 available processors)

Solution count 1: 1

Optimal solution found (tolerance 1.00e-04)
Best objective 1.000000000000e+00, best bound 1.000000000000e+00, gap 0.0000%